
@mixin responsive-index {
  @media screen and (max-width: 1240px) {
    .index {
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: 100%;
      margin: auto;
    }
    .slider-wrapper {
      margin-left: 7% !important;
    }
    .index__left .brand-promo img {
      display: none;
    }

    .index__section {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      flex-shrink: 1;
      margin: 0;

      &--left,
      &--right {
        display: flex;
        justify-content: center;
      }

      .product-card {
        position: relative;
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        max-width: 300px;

        &__image {
          width: 10%;
          max-width: 10px;
          aspect-ratio: 1/1.25;
        }

        &__discount {
          position: absolute;
          top: 10px;
          right: 10px;
          background: orange;
          color: white;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;

          &::before {
            content: "";
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            border-width: 10px;
            border-style: solid;
            border-color: transparent orange transparent transparent;
          }
        }

        &__title {
          font-size: 16px;
        }

        &__timer {
          color: gray;
          font-size: 12px;
        }

        &__price {
          border-top: 1px solid $base-grey;
          border-bottom: 1px solid $base-grey;
          font-size: 18px;
          font-weight: bold;

          &--old {
            text-decoration: line-through;
            color: gray;
            font-size: 14px;
          }

          &--new {
            color: $general-cyan;
            font-size: 20px;
          }
        }
      }
    }

    .index__brand,
    .index__promo,
    .index__news,
    .product-card {
      display: none;
    }

    .product-list {
      margin-left: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &--akcija,
      &--hot-deal,
      &--rasprodaja,
      &--novo,
      &--preporucujemo {
        .product-card {
          box-sizing: border-box;

          &__title {
            font-size: 10px;
          }

          &__timer {
            font-size: 8px;
          }

          &__price--old {
            font-size: 10px;
          }

          &__price--new {
            font-size: 12px;
          }
        }
      }
    }

    .index__news .newsletter-header {
      font-size: 30px;
    }

    .index__news .newsletter-form input,
    .index__brand .search-by-brand .search-box input {
      font-size: 24px !important;
    }

    .slider-wrapper {
      max-width: 800px;
      margin-left: 20%;
    }

    .accordion {
      width: 800px;
      margin-left: -80%;
      &__header {
        font-size: 34px;
      }
      &__item {
        &__title {
          font-size: 30px;
        }
        &__content ul li {
          font-size: 25px;
        }
      }
    }

    .index__right .product-list-vruca-ponuda, .index__right .index__product-list-vruca-ponuda,
    .index__product-list-akcija,
    .index__product-list-novo,
    .index__product-list-preporucujemo,
    .index__product-list-rasprodaja
    {
      width: 100%;
    }

  }


  .index__right .brand .brand__search,
  .index__right .news .newsletter {
    display: none;
  }

  @media screen and (max-width: 1240px) {
    .index__right {
      display: flex !important;
    }
    .index__left {
      display: none !important;
    }

    .index__right .news .newsletter {
      display: flex;
    }
    .index__right .brand .brand__search {
      display: flex;
    }


    .index__brand, .index__news {
      display: flex;
      width: 1000px;
    }
    .index__right .brand .brand__search {
      padding: 40px 210px 100px !important;
      margin: 2% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #005574;
      color: white;
      text-align: center;
      width: 100%;
      .brand__search-box input {
        width: 400px;
      }
    }
  }
}

@mixin responsive-navbar1 {
  @media screen and (max-width: 1300px) {
    padding: 4%;

    .navbar__languages {
      a {
        font-size: 24px !important;
      }

      p {
        padding: 5px !important;
        font-size: 18px !important;
        white-space: wrap !important; //
      }
    }

    .navbar__account {
      a {
        font-size: 24px !important;
        padding: 4px;
      }
    }
  }
}
@mixin responsive-navbar2 {
  @media screen and (max-width: 1300px) {
    .navbar__middle {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 20px 5%;

      .navbar__search {
        width: 80%;
        max-width: 80%;

        input {
          font-size: 30px;
        }

        .fa-search {
          display: none;
        }
      }

      .navbar__logo {
        text-align: center;
        flex: none;
        margin-bottom: 15px;

        p {
          font-size: 40px;
        }
      }
    }

    .navbar__cart {
      flex-direction: row;
      align-items: center;
      gap: 5px;
      height: 20px !important;

      p:nth-child(1) {
        font-size: 28px !important;
      }

      p:nth-child(2) {
        font-size: 28px !important;
      }

      .fa-shopping-cart {
        font-size: 28px !important;
      }
    }

    .navbar__social {
      .fa-facebook-f {
        margin-top: -45px;
        margin-left: 800px;
        margin-bottom: 30px;
      }
    }

    .navbar__middle .navbar__cart .fa-shopping-cart {
      font-size: 25px !important;
    }
  }
}
@mixin responsive-navbar3 {
  @media screen and (max-width: 1300px) {
    clip-path: none;
    padding: 30px 40px;
    justify-content: center;

    .navbar__menu {
      align-items: center;
      display: none;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: $general-cyan;
      margin: 0;
      padding: 0;

      .fa-home:before {
        content: "\f015";
        font-size: 40px;
      }

      li {
        border: none;
        padding: 12px;
        text-align: center;
        background-color: $general-cyan;
        width: 100%;

        &:first-child {
          margin-top: 31px;
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          font-size: 16px;
        }
      }

      li a {
        font-size: 30px !important;
      }
    }

    .navbar__burger {
      display: flex !important;
      flex-direction: column;
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      z-index: 1000;

      .fa-bars {
        justify-self: center;
        align-self: center;
        font-size: 40px;
        display: unset;
        color: white;
      }
    }

    .navbar__toggle {
      display: none;
    }
    .navbar__toggle:checked ~ .navbar__menu {
      display: flex;
    }
    .navbar__toggle:checked ~ .navbar__burger .fa-bars {
      margin: 0 auto;
      align-self: center;
      justify-self: center;
    }
  }
}



@mixin responsive-open-product {
  @media screen and (max-width: 1300px) {

    .wrapper {
      flex-direction: column;
      padding-left: 2%;
      padding-right: 2%;
    }
    .open-product {
      width: 100%;

      .product-container {
        flex-direction: column;

        .product-slider {
          margin-bottom: 20px;
          min-width: 100%;
          height: auto;

          .bx-wrapper {
            height: auto;
            width: 500px !important;
            margin-left: 10%;
          }
        }

        .product-slider-thumb {
          margin-left: 5% !important;
          width: 500px !important;
        }
      }
    }
    .product-info {
      min-width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
    .product-slider-thumb {
      width: 60% !important;
      margin-left: 10% !important;
      margin-top: 4%;
      margin-bottom: 50px;
      height: 130px;
      padding-bottom: 100px;

      #bx-pager {
        flex-wrap: wrap;
      }

      border: none !important;

      .slider-prev-product,
      .slider-next-product {
        margin-top: 5%;
        font-size: 18px;
        position: absolute;
        top: 35.5% !important;
        transform: translateY(-50%);
        height: 150px !important;
        background-color: #a6a3a3;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        text-decoration: none;
      }

      .slider-prev-product {
        margin-top: 30px;
        margin-left: 50px;
      }

      .slider-next-product {
        margin-top: 30px;
        margin-right: -50px !important;
      }

      #bx-pager a {
        display: inline-block;
        width: 33%;
        max-width: 300px;
        height: auto;
        cursor: pointer;
        text-align: center;
        flex-shrink: 0;
      }
    }
    .right-bar {
      width: 100%;
      margin-top: 1rem;
      padding: 0 2%;
    }
    .product-info {
      .product-info-naziv h1 {
        align-self: center !important;
        font-size: 40px !important;
        flex-direction: column !important;
      }

      .product-info-cijena-sifra {
        align-self: center !important;

        h2 {
          font-size: 50px !important;
        }

        h3 {
          font-size: 40px !important;

          span {
            font-size: 40px !important;
          }
        }
      }

      .product-info-general {
        font-size: 30px !important;
        align-items: center;
      }

      .product-slider-cart {
        font-size: 35px !important;
        margin-bottom: 15%;
        align-self: center !important;

        .product-cart {
          width: 700px !important;
          flex-direction: row !important;
          align-self: flex-start !important;

          .upper-part {
            flex-direction: column !important;
          }

          .lower-part {
            margin-left: 5%;
            margin-top: 5% !important;
            flex-direction: column !important;

            .dodaj {
              button {
                height: 70px !important;
                width: 300px !important;
                margin: 0 !important;
                margin-left: 7% !important;
                font-size: 25px !important;
              }
            }

            .pregledaj {
              button {
                height: 70px !important;
                width: 300px !important;
                margin-top: 5% !important;
                font-size: 25px !important;

              }
            }
          }

          .upper-part {
            .num-of-products {
              font-size: 40px !important;

              input {
                width: auto !important;
                height: auto !important;
                font-size: 30px !important;
                padding: 20px !important;
              }

              button {
                height: 80px !important;
                width: 80px !important;
                font-size: 40px !important;
              }
            }

            .share-container {
              height: 60px !important;
              font-size: 40px !important;

              .icon {
                width: 60px !important;
                height: 60px !important;

                i {
                  width: 60px !important;
                  height: 60px !important;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 20px !important;
                  cursor: pointer;
                  border-radius: 4px;
                  color: white;
                  transition: background-color 0.3s ease, transform 0.2s ease;
                }
              }
            }
          }
        }
      }
    }
    .open-product .product-additional .tabs .tab {
      font-size: 25px !important;
    }
    .right-bar .box.video-box .video-wrapper img, .right-bar .box.video-box .video-wrapper video {
      width: 90% !important;
    }
    .slide-label .label-text {
      font-size: 45px !important;
    }
    .bx-wrapper .bx-pager .bx-pager-item a.active {
      font-size: 45px !important;
    }
    .bx-wrapper .bx-pager .bx-pager-item a {
      font-size: 45px !important;
    }


    .open-product .similar-products .similar-product-heading h2 {
      font-size: 40px !important;
    }
    .right-bar .news .newsletter {
      width: 99%;
    }
    .open-product .product-container .product-slider {
      margin-bottom: 20px;
      min-width: 100%;
      height: auto;
      margin-left: 10%;
    }
  }
}
@mixin responsive-footer {
  @media screen and (max-width: 1300px) {
    footer {

      .bottom{
        background-color: $general-cyan;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center !important;
        flex-direction: column !important;

        &__columns {
          margin: auto !important;
          display: flex;
          flex-direction: column !important;
          align-items: center;
        }

        &__column {
          flex: 1;
          max-width: 200px;
          border-right: none !important;
          padding-left: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.68);

          &:first-child {
            border-left: none;
            padding: 0 !important;
            margin-left: 2% !important;
          }
        }

        &__title {
          font-size: 24px;
          margin-bottom: 10px;
        }

        &__link {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 18px;
          margin-bottom: 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .bottom-footer {
        font-size: 40px;
      }
    }
  }
}


