.navbar {
  background-color: white;
}
.navbar__container > .navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  background-color: #CCCCCC;
  border-bottom: 1px solid #000;
  padding: 0 8%;
}
@media screen and (max-width: 1300px) {
  .navbar__container > .navbar__top {
    padding: 4%;
  }
  .navbar__container > .navbar__top .navbar__languages .navbar__language {
    font-size: 24px !important;
  }
  .navbar__container > .navbar__top .navbar__languages .navbar__info-text {
    padding: 5px !important;
    font-size: 18px !important;
    white-space: normal !important;
  }
  .navbar__container > .navbar__top .navbar__account .navbar__account-link {
    font-size: 24px !important;
    padding: 4px;
  }
}
.navbar__container > .navbar__top .navbar__languages {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  font-size: 12px;
}
.navbar__container > .navbar__top .navbar__languages .navbar__language {
  text-decoration: none;
  color: #1B627E;
  cursor: pointer;
}
.navbar__container > .navbar__top .navbar__languages .navbar__language:hover {
  text-decoration: underline;
}
.navbar__container > .navbar__top .navbar__languages .navbar__info-text {
  white-space: nowrap;
}
.navbar__container > .navbar__top .navbar__account {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  font-size: 12px;
}
.navbar__container > .navbar__top .navbar__account .navbar__account-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navbar__container > .navbar__top .navbar__account .navbar__account-link:hover {
  text-decoration: underline;
}
.navbar__container > .navbar__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
  background-color: #005574;
  border-bottom: 1px solid #000;
  padding: 0 8%;
}
.navbar__container > .navbar__middle .navbar__logo {
  flex: 1 0 auto;
  justify-content: flex-start;
}
.navbar__container > .navbar__middle .navbar__logo .navbar__logo-text {
  transform: scale(1, 2);
  font-size: 50px;
  color: #01ADEF;
  margin: 0;
}
.navbar__container > .navbar__middle .navbar__logo .navbar__logo-text .navbar__logo-highlight {
  color: white;
}
.navbar__container > .navbar__middle .navbar__search {
  flex-grow: 2;
  max-width: 40%;
  position: relative;
  margin: 0 1rem;
}
.navbar__container > .navbar__middle .navbar__search .navbar__search-box .navbar__search-input {
  width: 100%;
  padding: 1.2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 14px;
  box-sizing: border-box;
}
.navbar__container > .navbar__middle .navbar__search .navbar__search-box .navbar__search-input:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem rgb(81, 203, 238);
  border-color: rgb(81, 203, 238);
}
.navbar__container > .navbar__middle .navbar__search .navbar__search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(1, 173, 239);
  cursor: pointer;
}
.navbar__container > .navbar__middle .navbar__social .navbar__social-icon {
  margin-right: 20px;
  flex: 0 0 auto;
  color: white;
  border: 0.125rem solid rgb(1, 173, 239);
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}
.navbar__container > .navbar__middle .navbar__cart {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar__container > .navbar__middle .navbar__cart .navbar__cart-text {
  color: rgb(1, 173, 239);
  margin: 0;
  font-size: 20px;
}
.navbar__container > .navbar__middle .navbar__cart .navbar__cart-price {
  color: white;
  margin: 0;
  font-size: 20px;
}
.navbar__container > .navbar__middle .navbar__cart .navbar__cart-icon {
  background-color: rgb(1, 173, 239);
  color: white;
  border: 0.125rem solid rgb(1, 173, 239);
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.navbar__container > .navbar__bottom {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 40px;
  max-width: 100%;
  flex-grow: 1;
  position: relative;
  margin: 0 5%;
  background-color: rgb(1, 173, 239);
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
  transform: rotateX(180deg);
  padding: 20px 60px;
}
.navbar__container > .navbar__bottom .navbar__toggle {
  display: none;
}
.navbar__container > .navbar__bottom .navbar__menu {
  transform: rotateX(180deg);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100%;
}
.navbar__container > .navbar__bottom .navbar__menu .navbar__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(145, 145, 145, 0.4);
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 0;
}
.navbar__container > .navbar__bottom .navbar__menu .navbar__menu-item:first-child {
  border-left: 1px solid rgba(145, 145, 145, 0.4);
  padding: 10px -10px;
}
.navbar__container > .navbar__bottom .navbar__menu .navbar__menu-item .navbar__menu-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
}
.navbar__container > .navbar__bottom .navbar__menu-item.active {
  background-color: #59d7fb !important;
}
@media screen and (max-width: 1300px) {
  .navbar__container > .navbar__bottom {
    clip-path: none;
    padding: 30px 40px;
    justify-content: center;
  }
  .navbar__container > .navbar__bottom .navbar__menu {
    align-items: center;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgb(1, 173, 239);
    margin: 0;
    padding: 0;
  }
  .navbar__container > .navbar__bottom .navbar__menu .fa-home:before {
    content: "\f015";
    font-size: 40px;
  }
  .navbar__container > .navbar__bottom .navbar__menu li {
    border: none;
    padding: 12px;
    text-align: center;
    background-color: rgb(1, 173, 239);
    width: 100%;
  }
  .navbar__container > .navbar__bottom .navbar__menu li:first-child {
    margin-top: 31px;
  }
  .navbar__container > .navbar__bottom .navbar__menu li:last-child {
    border-bottom: none;
  }
  .navbar__container > .navbar__bottom .navbar__menu li a {
    font-size: 16px;
  }
  .navbar__container > .navbar__bottom .navbar__menu li a {
    font-size: 30px !important;
  }
  .navbar__container > .navbar__bottom .navbar__burger {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .navbar__container > .navbar__bottom .navbar__burger .fa-bars {
    font-size: 40px;
    color: white;
    display: unset;
  }
  .navbar__container > .navbar__bottom .navbar__toggle {
    display: none;
  }
  .navbar__container > .navbar__bottom .navbar__toggle:checked ~ .navbar__menu {
    display: flex;
    flex-direction: column;
  }
  .navbar__container > .navbar__bottom .navbar__toggle:checked ~ .navbar__burger .fa-bars {
    align-self: center;
    justify-self: center;
  }
}
@media screen and (max-width: 1300px) {
  .navbar__container .navbar__middle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px 5%;
  }
  .navbar__container .navbar__middle .navbar__search {
    width: 80%;
    max-width: 80%;
  }
  .navbar__container .navbar__middle .navbar__search .navbar__search-input {
    font-size: 30px;
  }
  .navbar__container .navbar__middle .navbar__search .navbar__search-icon {
    display: none;
  }
  .navbar__container .navbar__middle .navbar__logo {
    text-align: center;
    flex: none;
    margin-bottom: 15px;
  }
  .navbar__container .navbar__middle .navbar__logo .navbar__logo-text {
    font-size: 40px;
  }
  .navbar__container .navbar__cart {
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 20px !important;
  }
  .navbar__container .navbar__cart .navbar__cart-text {
    font-size: 28px !important;
  }
  .navbar__container .navbar__cart .navbar__cart-price {
    font-size: 28px !important;
  }
  .navbar__container .navbar__cart .navbar__cart-icon {
    font-size: 28px !important;
  }
  .navbar__container .navbar__social .navbar__social-icon {
    margin-top: -45px;
    margin-left: 800px;
    margin-bottom: 30px;
  }
  .navbar__container .navbar__middle .navbar__cart .navbar__cart-icon {
    font-size: 25px !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 5%;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: grey;
  font-family: Arial, sans-serif;
  border: 1px solid rgba(128, 128, 128, 0.2);
  overflow: hidden;
  margin-bottom: 3.5%;
}
.accordion__header {
  background: #005574;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.accordion__header i {
  font-size: 20px;
}
.accordion__item {
  border-bottom: 1px solid grey;
}
.accordion__item .accordion__title {
  background: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease-in-out;
}
.accordion__item a {
  text-decoration: none;
}
.accordion__item .accordion__content {
  display: none;
  background: white;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid grey;
}
.accordion__item .accordion__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion__item .accordion__content ul li {
  padding: 12px 20px;
  font-size: 14px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.accordion__item .accordion__content ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}
.accordion__item .accordion__content ul li:hover {
  background-color: rgba(128, 128, 128, 0.43);
}
.accordion__item .accordion__content ul li:last-child {
  border-bottom: none;
}

.index {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 1.5% auto 0;
  min-width: 100%;
}
.index__left {
  margin: 1% 3% 0;
  width: 300px;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
}
.index__left .brand .brand__search {
  margin-top: 50px;
  background-color: #005574;
  padding: 10px 25px 40px;
  color: white;
}
.index__left .brand .brand__search .brand__search-header {
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
}
.index__left .brand .brand__search .brand__search-header .fa-envelope {
  margin-right: 5%;
}
.index__left .brand .brand__search .brand__search-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.index__left .brand .brand__search .brand__search-box .brand__search-input {
  width: 80%;
  padding: 10px;
  border: none;
}
.index__left .brand .brand__search .brand__search-box .brand__search-button {
  background-color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.index__left .brand .brand__search .brand__search-box .brand__search-button i {
  color: rgb(1, 173, 239);
}
.index__left .brand-promo {
  margin-top: 50px;
  position: relative;
}
.index__left .brand-promo .brand-promo__img {
  width: 100%;
  height: 400px;
  display: block;
}
.index__left .news .newsletter {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005574;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.index__left .news .newsletter__header {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.index__left .news .newsletter__header i {
  margin-right: 10px;
}
.index__left .news .newsletter__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.index__left .news .newsletter__form .newsletter__input-email,
.index__left .news .newsletter__form .newsletter__input-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.index__left .news .newsletter__form .newsletter__input-email::placeholder,
.index__left .news .newsletter__form .newsletter__input-name::placeholder {
  color: white;
}
.index__left .news .newsletter__form .newsletter__button-submit {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.index__left .news .newsletter__form .newsletter__button-submit:hover {
  background-color: #2b6ca3;
}
.index__left .product-card {
  margin: 50px 0 20px;
  background-color: white;
  overflow: hidden;
}
.index__left .product-card .product-card__img {
  width: 100%;
  display: block;
}
.index__left .product-card .product-card__info {
  padding: 15px;
}
.index__left .product-card .product-card__info .product-card__title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.index__left .product-card .product-card__info .product-card__description {
  font-size: 14px;
  color: grey;
  margin-bottom: 15px;
}
.index__left .product-card .product-card__info .product-card__button {
  background-color: rgb(1, 173, 239);
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}
.index__left .product-card .product-card__info .product-card__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.index__right {
  width: 850px;
  flex-shrink: 0;
  min-width: 900px;
  max-width: 85%;
  flex-wrap: wrap;
}
.index__right .index__trapezoid-hot-offer {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #005574;
  transform: rotateX(180deg);
}
.index__right .index__trapezoid-hot-offer .trapezoid-hot-paragraph {
  margin-top: 70px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right .index__trapezoid-hot-offer .trapezoid-hot-paragraph .fa-fire {
  margin-right: 10px;
}
.index__right .index__product-list-hot-offer {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right .index__product-list-hot-offer .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right .index__product-list-hot-offer .product .product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right .index__product-list-hot-offer .product .product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right .index__product-list-hot-offer .product .product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right .index__product-list-hot-offer .product .product__title {
  font-size: 16px;
}
.index__right .index__product-list-hot-offer .product .product__timer {
  color: gray;
  font-size: 12px;
}
.index__right .index__product-list-hot-offer .product .product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right .index__product-list-hot-offer .product .product__price .product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right .index__product-list-hot-offer .product .product__price .product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right .index__products-button-hot-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right .index__products-button-hot-offer .index__button-hot-offer {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right .index__products-button-hot-offer .index__button-hot-offer:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right .index__trapezoid-action {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right .index__trapezoid-action .trapezoid-action__text {
  margin-top: 70px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right .index__trapezoid-action .trapezoid-action__text i {
  margin-right: 10px;
}
.index__right .index__product-list-action {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index__right .index__product-list-action .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  flex-basis: calc(25% - 40px);
  box-sizing: border-box;
}
.index__right .index__product-list-action .product .product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right .index__product-list-action .product .product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right .index__product-list-action .product .product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right .index__product-list-action .product .product__title {
  font-size: 16px;
}
.index__right .index__product-list-action .product .product__timer {
  color: gray;
  font-size: 12px;
}
.index__right .index__product-list-action .product .product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right .index__product-list-action .product .product__price .product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right .index__product-list-action .product .product__price .product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right .index__products-button-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right .index__products-button-action .index__button-action {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right .index__products-button-action .index__button-action:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right .index__trapezoid-recommended {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right .index__trapezoid-recommended .trapezoid-recommended__text {
  margin-top: 70px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right .index__trapezoid-recommended .trapezoid-recommended__text i {
  margin-right: 10px;
}
.index__right .index__product-list-recommended {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right .index__product-list-recommended .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right .index__product-list-recommended .product .product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right .index__product-list-recommended .product .product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right .index__product-list-recommended .product .product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right .index__product-list-recommended .product .product__title {
  font-size: 16px;
}
.index__right .index__product-list-recommended .product .product__timer {
  color: gray;
  font-size: 12px;
}
.index__right .index__product-list-recommended .product .product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right .index__product-list-recommended .product .product__price .product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right .index__product-list-recommended .product .product__price .product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right .index__products-button-recommended {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right .index__products-button-recommended .index__button-recommended {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right .index__products-button-recommended .index__button-recommended:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right .index__trapezoid-new {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right .index__trapezoid-new .trapezoid-new__text {
  margin-top: 70px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right .index__trapezoid-new .trapezoid-new__text i {
  margin-right: 10px;
}
.index__right .index__product-list-new {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right .index__product-list-new .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right .index__product-list-new .product .product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right .index__product-list-new .product .product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right .index__product-list-new .product .product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right .index__product-list-new .product .product__title {
  font-size: 16px;
}
.index__right .index__product-list-new .product .product__timer {
  color: gray;
  font-size: 12px;
}
.index__right .index__product-list-new .product .product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right .index__product-list-new .product .product__price .product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right .index__product-list-new .product .product__price .product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right .index__products-button-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right .index__products-button-new .index__button-new {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right .index__products-button-new .index__button-new:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right .index__trapezoid-sale {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid orange;
  transform: rotateX(180deg);
}
.index__right .index__trapezoid-sale .trapezoid-sale__text {
  margin-top: 70px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right .index__trapezoid-sale .trapezoid-sale__text i {
  margin-right: 10px;
}
.index__right .index__product-list-sale {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right .index__product-list-sale .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right .index__product-list-sale .product .product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right .index__product-list-sale .product .product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right .index__product-list-sale .product .product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right .index__product-list-sale .product .product__title {
  font-size: 16px;
}
.index__right .index__product-list-sale .product .product__timer {
  color: gray;
  font-size: 12px;
}
.index__right .index__product-list-sale .product .product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right .index__product-list-sale .product .product__price .product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right .index__product-list-sale .product .product__price .product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right .index__products-button-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right .index__products-button-sale .index__button-sale {
  padding: 10px 50px;
  border: 3px solid orange;
  background-color: transparent;
  cursor: pointer;
}
.index__right .index__products-button-sale .index__button-sale:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right .brand .brand__search {
  margin-top: 40px;
  background-color: #005574;
  padding: 20px 50px 100px;
  color: white;
  margin-left: 5%;
}
.index__right .brand .brand__search .brand__search-header {
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.index__right .brand .brand__search .brand__search-header i {
  margin-right: 5%;
}
.index__right .brand .brand__search .brand__search-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.index__right .brand .brand__search .brand__search-box .brand__search-input {
  width: 100%;
  padding: 15px;
  border: none;
}
.index__right .brand .brand__search .brand__search-box .brand__search-button {
  background-color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
}
.index__right .brand .brand__search .brand__search-box .brand__search-button i {
  color: rgb(1, 173, 239);
}
.index__right .news {
  padding: 0 20px;
}
.index__right .news .newsletter {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005574;
  padding: 40px;
  color: white;
  text-align: center;
  width: 100%;
}
.index__right .news .newsletter__header {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.index__right .news .newsletter__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.index__right .news .newsletter__form .newsletter__input-email,
.index__right .news .newsletter__form .newsletter__input-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.index__right .news .newsletter__form .newsletter__input-email::placeholder,
.index__right .news .newsletter__form .newsletter__input-name::placeholder {
  color: white;
}
.index__right .news .newsletter__form .newsletter__button-submit {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.index__right .news .newsletter__form .newsletter__button-submit:hover {
  background-color: #2b6ca3;
}
.index__right .index__brand {
  display: none;
}
.index__right .index__news {
  display: none;
}
@media screen and (max-width: 1240px) {
  .index .index {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    margin: auto;
  }
  .index .slider-wrapper {
    margin-left: 7% !important;
  }
  .index .index__left .brand-promo .brand-promo__img {
    display: none;
  }
  .index .index__section {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-shrink: 1;
    margin: 0;
  }
  .index .index__section--left, .index .index__section--right {
    display: flex;
    justify-content: center;
  }
  .index .index__section .product-card {
    position: relative;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
  }
  .index .index__section .product-card .product-card__img {
    width: 10%;
    max-width: 10px;
    aspect-ratio: 1/1.25;
  }
  .index .index__section .product-card .product-card__title {
    font-size: 16px;
  }
  .index .index__section .product-card .product-card__timer {
    color: gray;
    font-size: 12px;
  }
  .index .index__section .product-card .product-card__price {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-size: 18px;
    font-weight: bold;
  }
  .index .index__section .product-card .product-card__price .product-card__old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
  }
  .index .index__section .product-card .product-card__price .product-card__new-price {
    color: rgb(1, 173, 239);
    font-size: 20px;
  }
  .index .index__brand,
  .index .index__promo,
  .index .index__news,
  .index .product-card {
    display: none;
  }
  .index .product-list {
    margin-left: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .index .product-list--akcija .product-card, .index .product-list--hot-deal .product-card, .index .product-list--rasprodaja .product-card, .index .product-list--novo .product-card, .index .product-list--preporucujemo .product-card {
    box-sizing: border-box;
  }
  .index .product-list--akcija .product-card .product-card__title, .index .product-list--hot-deal .product-card .product-card__title, .index .product-list--rasprodaja .product-card .product-card__title, .index .product-list--novo .product-card .product-card__title, .index .product-list--preporucujemo .product-card .product-card__title {
    font-size: 10px;
  }
  .index .product-list--akcija .product-card .product-card__timer, .index .product-list--hot-deal .product-card .product-card__timer, .index .product-list--rasprodaja .product-card .product-card__timer, .index .product-list--novo .product-card .product-card__timer, .index .product-list--preporucujemo .product-card .product-card__timer {
    font-size: 8px;
  }
  .index .product-list--akcija .product-card .product-card__old-price, .index .product-list--hot-deal .product-card .product-card__old-price, .index .product-list--rasprodaja .product-card .product-card__old-price, .index .product-list--novo .product-card .product-card__old-price, .index .product-list--preporucujemo .product-card .product-card__old-price {
    font-size: 10px;
  }
  .index .product-list--akcija .product-card .product-card__new-price, .index .product-list--hot-deal .product-card .product-card__new-price, .index .product-list--rasprodaja .product-card .product-card__new-price, .index .product-list--novo .product-card .product-card__new-price, .index .product-list--preporucujemo .product-card .product-card__new-price {
    font-size: 12px;
  }
  .index .index__news .newsletter__header {
    font-size: 30px;
  }
  .index .index__news .newsletter__form .newsletter__input-email,
  .index .index__news .newsletter__form .newsletter__input-name,
  .index .index__brand .brand__search-box .brand__search-input {
    font-size: 24px !important;
  }
  .index .slider-wrapper {
    max-width: 800px;
    margin-left: 20%;
  }
  .index .accordion {
    width: 800px;
    margin-left: -80%;
  }
  .index .accordion__header {
    font-size: 34px;
  }
  .index .accordion__item__title {
    font-size: 30px;
  }
  .index .accordion__item__content ul li {
    font-size: 25px;
  }
  .index .index__right .product-list-vruca-ponuda,
  .index .index__right .index__product-list-vruca-ponuda,
  .index .index__product-list-akcija,
  .index .index__product-list-novo,
  .index .index__product-list-preporucujemo,
  .index .index__product-list-rasprodaja {
    width: 100%;
  }
}
@media screen and (max-width: 1240px) {
  .index .index__right {
    display: flex !important;
  }
  .index .index__right .brand {
    display: flex !important;
  }
  .index .index_news {
    display: flex !important;
  }
  .index .index__left {
    display: none !important;
  }
  .index .index__right .news .newsletter {
    display: flex;
  }
  .index .index__right .brand .brand__search {
    display: flex;
  }
  .index .index__brand,
  .index .index__news {
    display: flex;
    width: 1000px;
  }
  .index .index__right .brand .brand__search {
    padding: 40px 210px 100px !important;
    margin: 2% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #005574;
    color: white;
    text-align: center;
    width: 100%;
  }
  .index .index__right .brand .brand__search .brand__search-box .brand__search-input {
    width: 400px;
  }
}

footer .slider-controls a {
  margin-left: 90px;
  align-self: center;
  justify-self: center;
  pointer-events: all;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: rgba(140, 140, 140, 0.31);
  padding: 7px 15px 7px 15px;
  margin-top: -40px;
  border-radius: 50%;
  transition: background 0.3s;
}

.bx-wrapper {
  position: relative;
  width: 97%;
  height: 500px;
  padding: 0;
  border-bottom: 4px solid #ccc;
  overflow: hidden;
  margin-left: 1.5%;
  margin-bottom: 1.3%;
  border-bottom: transparent;
}
.bx-wrapper .bx-viewport,
.bx-wrapper .bxslider,
.bx-wrapper .bxslider li {
  height: 100%;
}
.bx-wrapper .bxslider li {
  position: relative;
}
.bx-wrapper .bxslider li .slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bx-wrapper .slider__overlay {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 2;
}
.bx-wrapper .slider__label {
  background: white;
  height: 150px;
  width: 280px;
  display: inline-block;
  padding: 0 20px 20px;
}
.bx-wrapper .slider__label-text {
  width: 200px;
  padding-bottom: 10px;
  display: block;
  font-size: 26px;
  color: black;
  margin-bottom: 5px;
}
.bx-wrapper .slider__product-button {
  background: rgb(1, 173, 239);
  color: #fff;
  padding: 15px 50px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}
.bx-wrapper .slider__product-button:hover {
  background: rgb(1, 173, 239);
}
.bx-wrapper .progress-bar {
  width: 94%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1.5%;
  height: 4px;
  background-color: rgb(1, 173, 239);
}
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.bx-wrapper .bx-pager .bx-pager-item a {
  display: inline-block;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: background 0.3s, color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bx-wrapper .bx-pager .bx-pager-item a.active {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background: rgb(1, 173, 239);
  text-shadow: none;
}

.footer .bx-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  margin: 0 auto;
  position: relative;
  background-color: white;
  max-width: 700px !important;
}
.footer__slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__slider .footer__slider-item {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.6666666667%;
  padding-right: 10px;
}
.footer__slider .footer__slider-item .footer__slider-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.footer__slider-controls {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  width: 90%;
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 50px;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}
.footer__slider-controls a {
  margin-left: 90px;
  align-self: center;
  justify-self: center;
  pointer-events: all;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: rgba(140, 140, 140, 0.31);
  padding: 7px 15px;
  border-radius: 50%;
  transition: background 0.3s;
}
.footer__slider-controls a:hover {
  background: rgba(117, 115, 115, 0.16);
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 5.2%;
  padding-right: 8.2%;
  gap: 1px;
}

.open-product {
  display: flex;
  width: 80%;
  flex-direction: column;
}
.open-product .path {
  color: gray;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 10px;
}
.open-product .product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.open-product .product-container .product-slider {
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.open-product .product-container .product-slider .bx-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: rgba(127, 127, 128, 0.38) solid 1px;
}
.open-product .product-container .product-slider .product-slider-thumb {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: rgba(127, 127, 128, 0.38) solid 1px;
  width: 100%;
  margin-right: 2%;
  margin-top: 4%;
  height: 130px;
}
.open-product .product-container .product-slider .product-slider-thumb #bx-pager {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.open-product .product-container .product-slider .product-slider-thumb #bx-pager a {
  display: inline-block;
  width: calc(33.33% - 10px);
  max-width: 150px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
}
.open-product .product-container .product-slider .product-slider-thumb #bx-pager img {
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(128, 128, 128, 0.31);
  border-right: 1px solid rgba(128, 128, 128, 0.31);
  transition: border 0.3s ease-in-out;
}
.open-product .product-container .product-slider .product-slider-thumb .slider-prev-product,
.open-product .product-container .product-slider .product-slider-thumb .slider-next-product {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 130px;
  background-color: #a6a3a3;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
}
.open-product .product-container .product-slider .product-slider-thumb .slider-prev-product:hover,
.open-product .product-container .product-slider .product-slider-thumb .slider-next-product:hover {
  color: red;
}
.open-product .product-container .product-slider .product-slider-thumb .slider-prev-product {
  left: 0;
}
.open-product .product-container .product-slider .product-slider-thumb .slider-next-product {
  right: 0;
  margin-right: -10px;
}
.open-product .product-container .product-slider img {
  margin-top: -3.5%;
  height: 110%;
}
.open-product .product-container .product-info {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.open-product .product-container .product-info .product-info-naziv h1 {
  padding-top: 0;
  font-size: 24px;
  margin: 5px;
}
.open-product .product-container .product-info .product-info-cijena-sifra {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
}
.open-product .product-container .product-info .product-info-cijena-sifra h2 {
  color: rgb(1, 173, 239);
  font-size: 30px;
  padding-right: 5%;
  border-right: rgba(127, 127, 128, 0.38) solid 1px;
}
.open-product .product-container .product-info .product-info-cijena-sifra h3 {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-right: rgba(127, 127, 128, 0.38) solid 1px;
  font-size: 14px;
  line-height: 1;
}
.open-product .product-container .product-info .product-info-cijena-sifra h3 span {
  color: rgb(1, 173, 239);
  font-weight: lighter;
  white-space: nowrap;
  font-size: 20px;
}
.open-product .product-container .product-info .product-info-general {
  font-size: 13px;
  color: grey;
  margin-top: 10px;
}
.open-product .product-container .product-info .product-info-general span {
  color: black;
}
.open-product .product-container .product-info .product-slider-cart {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  align-items: flex-start;
}
.open-product .product-container .product-info .product-slider-cart .product-cart {
  flex-direction: row;
  min-width: 250px;
  height: 130px;
  display: flex;
}
.open-product .product-container .product-info .product-slider-cart .product-cart {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part {
  display: flex;
  flex-direction: row;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .num-of-products {
  display: flex;
  align-items: center;
  gap: 5px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .num-of-products input {
  width: 50px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.37);
  padding-left: 10%;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .num-of-products button {
  height: 20px;
  margin-left: -10px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container {
  width: 50%;
  height: 20px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: red;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .icon:hover {
  transform: scale(1.1);
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .icon i {
  font-size: 14px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .fb {
  background-color: blue;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .tw {
  background-color: #1DA1F2;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .mail {
  background-color: grey;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .gmail {
  background-color: orangered;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .upper-part .share-container .share-text {
  font-weight: bold;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part {
  display: flex;
  flex-direction: row;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part .pregledaj {
  padding-left: 13px;
  width: 150px;
  height: 50px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part .pregledaj button {
  background-color: lightgray;
  color: white;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part .dodaj {
  width: 150px;
  height: 70px;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part .dodaj button {
  background-color: rgb(1, 173, 239);
  color: white;
}
.open-product .product-container .product-info .product-slider-cart .product-cart .lower-part button {
  height: 50px;
  width: 150px;
  border-radius: 75px;
  border: none;
}
.open-product .product-additional {
  background: #fff;
  padding-top: 20px;
}
.open-product .product-additional .tabs {
  display: flex;
}
.open-product .product-additional .tabs .tab {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.open-product .product-additional .tabs .tab.active {
  background: rgb(1, 173, 239);
  color: #fff;
}
.open-product .product-additional .tab-content {
  display: none;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.38);
}
.open-product .product-additional .tab-content.active {
  display: block;
}
.open-product .similar-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
}
.open-product .similar-products .similar-product-heading {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.open-product .similar-products .similar-product-heading h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  background: white;
  padding-right: 10px;
  z-index: 1;
}
.open-product .similar-products .similar-product-heading::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  position: relative;
}
.open-product .similar-products .product-list-vruca-ponuda {
  width: 95%;
  display: flex;
  justify-content: center;
}
.open-product .similar-products .product-list-vruca-ponuda .product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.open-product .similar-products .product-list-vruca-ponuda .product img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.open-product .similar-products .product-list-vruca-ponuda .product .discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.open-product .similar-products .product-list-vruca-ponuda .product .discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.open-product .similar-products .product-list-vruca-ponuda .product h3 {
  font-size: 16px;
}
.open-product .similar-products .product-list-vruca-ponuda .product .timer {
  color: gray;
  font-size: 12px;
}
.open-product .similar-products .product-list-vruca-ponuda .product .price {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.open-product .similar-products .product-list-vruca-ponuda .product .old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.open-product .similar-products .product-list-vruca-ponuda .product .new-price {
  color: #00aaff;
  font-size: 20px;
}

.right-bar {
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-box {
  background-color: #fff;
  border-radius: 5px;
}
.video-box__wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  border: transparent;
}
.video-box__thumbnail, .video-box__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.video-box__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 3px solid rgb(1, 173, 239);
  cursor: pointer;
  z-index: 2;
}
.video-box__play-button::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent white;
  margin-top: 11px;
  margin-left: 17px;
}

.news {
  margin-top: 50px;
  background-color: #005574;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.news__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.news__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.news__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.news__input::placeholder {
  color: white;
}
.news__button {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.news__button:hover {
  background-color: #2b6ca3;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .open-product {
    width: 100%;
  }
  .open-product .product-container {
    flex-direction: column;
  }
  .open-product .product-container .product-slider {
    margin-bottom: 20px;
    min-width: 100%;
    height: auto;
  }
  .open-product .product-container .product-slider .bx-wrapper {
    height: auto;
    width: 500px !important;
    margin-left: 10%;
  }
  .open-product .product-container .product-slider-thumb {
    margin-left: 5% !important;
    width: 500px !important;
  }
  .product-info {
    min-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .product-slider-thumb {
    width: 60% !important;
    margin-left: 10% !important;
    margin-top: 4%;
    margin-bottom: 50px;
    height: 130px;
    padding-bottom: 100px;
    border: none !important;
  }
  .product-slider-thumb #bx-pager {
    flex-wrap: wrap;
  }
  .product-slider-thumb .slider-prev-product,
  .product-slider-thumb .slider-next-product {
    margin-top: 5%;
    font-size: 18px;
    position: absolute;
    top: 35.5% !important;
    transform: translateY(-50%);
    height: 150px !important;
    background-color: #a6a3a3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
  }
  .product-slider-thumb .slider-prev-product {
    margin-top: 30px;
    margin-left: 50px;
  }
  .product-slider-thumb .slider-next-product {
    margin-top: 30px;
    margin-right: -50px !important;
  }
  .product-slider-thumb #bx-pager a {
    display: inline-block;
    width: 33%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
  }
  .right-bar {
    width: 100%;
    margin-top: 1rem;
    padding: 0 2%;
  }
  .product-info .product-info-naziv h1 {
    align-self: center !important;
    font-size: 40px !important;
    flex-direction: column !important;
  }
  .product-info .product-info-cijena-sifra {
    align-self: center !important;
  }
  .product-info .product-info-cijena-sifra h2 {
    font-size: 50px !important;
  }
  .product-info .product-info-cijena-sifra h3 {
    font-size: 40px !important;
  }
  .product-info .product-info-cijena-sifra h3 span {
    font-size: 40px !important;
  }
  .product-info .product-info-general {
    font-size: 30px !important;
    align-items: center;
  }
  .product-info .product-slider-cart {
    font-size: 35px !important;
    margin-bottom: 15%;
    align-self: center !important;
  }
  .product-info .product-slider-cart .product-cart {
    width: 700px !important;
    flex-direction: row !important;
    align-self: flex-start !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part {
    flex-direction: column !important;
  }
  .product-info .product-slider-cart .product-cart .lower-part {
    margin-left: 5%;
    margin-top: 5% !important;
    flex-direction: column !important;
  }
  .product-info .product-slider-cart .product-cart .lower-part .dodaj button {
    height: 70px !important;
    width: 300px !important;
    margin: 0 !important;
    margin-left: 7% !important;
    font-size: 25px !important;
  }
  .product-info .product-slider-cart .product-cart .lower-part .pregledaj button {
    height: 70px !important;
    width: 300px !important;
    margin-top: 5% !important;
    font-size: 25px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .num-of-products {
    font-size: 40px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .num-of-products input {
    width: auto !important;
    height: auto !important;
    font-size: 30px !important;
    padding: 20px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .num-of-products button {
    height: 80px !important;
    width: 80px !important;
    font-size: 40px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .share-container {
    height: 60px !important;
    font-size: 40px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .share-container .icon {
    width: 60px !important;
    height: 60px !important;
  }
  .product-info .product-slider-cart .product-cart .upper-part .share-container .icon i {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .open-product .product-additional .tabs .tab {
    font-size: 25px !important;
  }
  .right-bar .box.video-box .video-wrapper img, .right-bar .box.video-box .video-wrapper video {
    width: 90% !important;
  }
  .slide-label .label-text {
    font-size: 45px !important;
  }
  .bx-wrapper .bx-pager .bx-pager-item a.active {
    font-size: 45px !important;
  }
  .bx-wrapper .bx-pager .bx-pager-item a {
    font-size: 45px !important;
  }
  .open-product .similar-products .similar-product-heading h2 {
    font-size: 40px !important;
  }
  .right-bar .news .newsletter {
    width: 99%;
  }
  .open-product .product-container .product-slider {
    margin-bottom: 20px;
    min-width: 100%;
    height: auto;
    margin-left: 10%;
  }
  .news__inner .news__header {
    font-size: 30px !important;
  }
  .news__inner .news__form .news__input {
    font-size: 30px !important;
  }
}
.footer__bottom {
  background-color: rgb(1, 173, 239);
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 2px 8%;
}
.footer__bottom .bottom__columns {
  display: flex;
  width: 100%;
  margin-left: 10%;
}
.footer__bottom .bottom__column {
  flex: 1;
  max-width: 200px;
  border-right: 1px solid #CCCCCC;
  padding-left: 10px;
}
.footer__bottom .bottom__column:first-child {
  border-left: 1px solid #CCCCCC;
  padding: 1px 4%;
  margin-left: 2%;
}
.footer__bottom .bottom__title {
  font-size: 12px;
  margin-bottom: 10px;
}
.footer__bottom .bottom__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 5px;
}
.footer__bottom .bottom__link:hover {
  text-decoration: underline;
}
.footer__bottom-footer {
  background-color: #004C75;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.footer__bottom-footer .bottom-footer__link {
  color: #B3E5FC;
  text-decoration: none;
}
.footer__bottom-footer .bottom-footer__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .footer__bottom {
    background-color: rgb(1, 173, 239);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .footer__bottom .bottom__columns {
    margin: auto !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .footer__bottom .bottom__column {
    flex: 1;
    max-width: 200px;
    border-right: none !important;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.68);
  }
  .footer__bottom .bottom__column:first-child {
    border-left: none;
    padding: 0 !important;
    margin-left: 2% !important;
  }
  .footer__bottom .bottom__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer__bottom .bottom__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .footer__bottom .bottom__link:hover {
    text-decoration: underline;
  }
  .footer__bottom-footer {
    font-size: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
