@charset "UTF-8";
.navbar {
  background-color: white;
}
.navbar__container {
  display: flex;
  flex-direction: column;
}
.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  background-color: #CCCCCC;
  border-bottom: 1px solid #000;
  padding: 0 8%;
}
.navbar__top__languages {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  font-size: 12px;
}
.navbar__top__languages__link {
  text-decoration: none;
  color: #1B627E;
  cursor: pointer;
}
.navbar__top__languages__link:hover {
  text-decoration: underline;
}
.navbar__top__languages__info {
  white-space: nowrap;
}
.navbar__top__account {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  font-size: 12px;
}
.navbar__top__account__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navbar__top__account__link:hover {
  text-decoration: underline;
}
.navbar__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
  background-color: #005574;
  border-bottom: 1px solid #000;
  padding: 0 8%;
}
.navbar__middle__logo {
  flex: 1 0 auto;
  justify-content: flex-start;
}
.navbar__middle__logo__text {
  transform: scale(1, 2);
  font-size: 50px;
  color: #01ADEF;
  margin: 0;
}
.navbar__middle__logo__text__highlight {
  color: white;
}
.navbar__middle__search {
  flex-grow: 2;
  width: 600px;
  max-width: 80%;
  position: relative;
  margin: 0 1rem;
}
.navbar__middle__search__input {
  width: 100%;
  padding: 1.2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 14px;
  box-sizing: border-box;
}
.navbar__middle__search__input:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem rgb(81, 203, 238);
  border-color: rgb(81, 203, 238);
}
.navbar__middle__search__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(1, 173, 239);
  cursor: pointer;
}
.navbar__middle__social__icon {
  margin-right: 20px;
  flex: 0 0 auto;
  color: white;
  border: 0.125rem solid rgb(1, 173, 239);
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}
.navbar__middle__cart {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar__middle__cart__text, .navbar__middle__cart__price {
  color: white;
  margin: 0;
  font-size: 20px;
}
.navbar__middle__cart__text {
  color: rgb(1, 173, 239);
}
.navbar__middle__cart__icon {
  background-color: rgb(1, 173, 239);
  color: white;
  border: 0.125rem solid rgb(1, 173, 239);
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.navbar__bottom {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 40px;
  max-width: 100%;
  flex-grow: 1;
  position: relative;
  margin: 0 5%;
  background-color: rgb(1, 173, 239);
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
  transform: rotateX(180deg);
  padding: 20px 60px;
}
.navbar__bottom__burger {
  display: none;
}
.navbar__bottom__toggle {
  display: none;
}
.navbar__bottom__menu {
  transform: rotateX(180deg);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 100%;
}
.navbar__bottom__menu__item {
  display: flex;
  background-color: rgb(1, 173, 239);
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(145, 145, 145, 0.4);
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 0;
}
.navbar__bottom__menu__item-active {
  background-color: #59d7fb !important;
}
.navbar__bottom__menu__item:first-child {
  border-left: 1px solid rgba(145, 145, 145, 0.4);
  padding: 10px -10px;
}
.navbar__bottom__menu__link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .navbar__top {
    padding: 4%;
  }
  .navbar__top__languages__link {
    font-size: 24px !important;
  }
  .navbar__top__languages__info {
    padding: 5px !important;
    font-size: 22px !important;
    white-space: normal !important;
  }
  .navbar__top__account__link {
    font-size: 24px !important;
    padding: 4px;
  }
  .navbar__middle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px 5%;
  }
  .navbar__middle__logo {
    padding: 20px 5%;
  }
  .navbar__middle__search {
    padding: 3%;
  }
  .navbar__middle__search__input {
    font-size: 30px;
  }
  .navbar__middle__search__icon {
    display: none;
  }
  .navbar__middle__social__icon {
    display: none;
  }
  .navbar__middle__cart {
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 20px !important;
  }
  .navbar__middle__cart__text, .navbar__middle__cart__price, .navbar__middle__cart__icon {
    font-size: 28px !important;
  }
  .navbar__bottom {
    clip-path: none;
    padding: 30px 40px;
    justify-content: center;
    background: linear-gradient(to right, #3b7c7c 50%, rgb(1, 173, 239) 50%);
    z-index: 999999;
  }
  .navbar__bottom--open-product {
    clip-path: none;
    padding: 30px 40px;
    justify-content: center;
    background: rgb(1, 173, 239);
    z-index: 999999;
  }
  .navbar__bottom__burger {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .navbar__bottom__burger--open-product-burger {
    margin-left: 100% !important;
    font-size: 3rem !important;
  }
  .navbar__bottom__burger__icon {
    font-size: 40px;
    color: white;
  }
  .navbar__bottom__menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #3b7c7c;
    z-index: 999999;
    margin-top: -154px;
    width: 100%;
  }
  .navbar__bottom__menu--open-product-menu {
    background-color: rgb(1, 173, 239) !important;
  }
  .navbar__bottom__menu__item {
    padding: 12px;
    text-align: center;
    background-color: #3b7c7c;
  }
  .navbar__bottom__menu__item:first-child {
    margin-top: 31px;
  }
  .navbar__bottom__menu__item__link {
    font-size: 30px !important;
  }
  .navbar__bottom__menu__link {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: xx-large;
  }
  .navbar__bottom__toggle:checked ~ .navbar__bottom__menu {
    display: flex;
    flex-direction: column;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 5%;
}

.index__left__accordion {
  display: flex;
  flex-direction: column;
  width: 500%;
  font-family: Arial, sans-serif;
  overflow: visible;
  margin-bottom: 3.5%;
  border: 1px solid rgba(128, 128, 128, 0.37);
}
.index__left__accordion__header {
  background: #005574;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.index__left__accordion__header__header-icon {
  font-size: 30px;
}
.index__left__accordion__item {
  border-bottom: 1px solid grey;
}
.index__left__accordion__title {
  background: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
}
.index__left__accordion__content {
  display: none;
  background: white;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid grey;
}
.index__left__accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.index__left__accordion__list-item {
  padding: 12px 20px;
  font-size: 14px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.index__left__accordion__list-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.index__left__accordion__list-item:hover {
  background-color: rgba(128, 128, 128, 0.43);
}
.index__left__accordion__list-item:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1240px) {
  .index__left__accordion {
    max-width: 850px;
    margin-left: -290px;
    margin-top: 40px;
    border: transparent;
  }
  .index__left__accordion__header {
    width: 60px;
    margin-left: 455px;
    margin-top: -105px;
    height: 50px;
    background: rgb(1, 173, 239);
    position: relative;
    z-index: 999999;
    margin-bottom: 40px;
  }
  .index__left__accordion__header-icon {
    display: flex;
    font-size: 40px;
    position: relative;
    z-index: 999999;
  }
  .index__left__accordion__header-text {
    display: none;
  }
  .index__left__accordion__item {
    width: 880px;
  }
  .index__left__accordion__title {
    color: white;
    background-color: rgb(1, 173, 239);
    font-size: 24px;
  }
  .index__left__accordion__list-item {
    font-size: 20px;
    color: white;
    background-color: rgb(1, 173, 239);
  }
}
.index {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.5% auto 0;
}
.index__left {
  margin: 1% 3% 0;
  width: 80% !important;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
}
.index__left__accordion {
  width: 100%;
}
.index__left__brand__search {
  margin-top: 50px;
  background-color: #005574;
  padding: 10px 25px 40px;
  color: white;
}
.index__left__brand__search__header--text {
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
}
.index__left__brand__search__header__envelope {
  margin-right: 5%;
}
.index__left__brand__search__search-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.index__left__brand__search__search-box__input {
  width: 80%;
  padding: 10px;
  border: none;
}
.index__left__brand__search__search-box__button {
  background-color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.index__left__brand__search__search-box__button__search-icon {
  color: rgb(1, 173, 239);
}
.index__left__brand-promo {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index__left__brand-promo__commercial {
  position: relative;
  width: 100%;
  max-width: 400px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.index__left__brand-promo__commercial-image {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.index__left__brand-promo__commercial-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.index__left__brand-promo__commercial-fashion, .index__left__brand-promo__commercial-shoes {
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
}
.index__left__brand-promo__commercial-veneno {
  font-family: "Arial", sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
}
.index__left__brand-promo__commercial-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}
.index__left__brand-promo__commercial-close:hover {
  background: rgba(0, 0, 0, 0.8);
}
.index__left__newsletter {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005574;
  color: white;
  text-align: center;
  width: 100%;
  padding: 30px;
}
.index__left__newsletter__header {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.index__left__newsletter__header__news-icon {
  margin: 0 10px;
}
.index__left__newsletter__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.index__left__newsletter__form--input-email, .index__left__newsletter__form--input-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.index__left__newsletter__form--input-email::placeholder, .index__left__newsletter__form--input-name::placeholder {
  color: white;
}
.index__left__newsletter__form--submit {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.index__left__newsletter__form--submit:hover {
  background-color: #2b6ca3;
}
.index__left__product-card {
  margin: 50px 0 20px;
  background-color: white;
}
.index__left__product-card__img {
  width: 100%;
  display: block;
}
.index__left__product-card__info {
  padding: 15px;
}
.index__left__product-card__info__title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.index__left__product-card__info__description {
  font-size: 14px;
  color: grey;
  margin-bottom: 15px;
}
.index__left__product-card__info__button {
  background-color: rgb(1, 173, 239);
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}
.index__left__product-card__info__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.index__right {
  width: 20%;
  flex-shrink: 0;
  min-width: 900px;
  max-width: 85%;
  flex-wrap: wrap;
}
.index__right__hot-offer__header {
  margin: 20px auto 5%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #005574;
  transform: rotateX(180deg);
}
.index__right__hot-offer__fire-icon {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  transform: rotateX(180deg);
  color: white;
  font-size: 30px;
  margin-bottom: -50px;
}
.index__right__hot-offer__header-text {
  margin-top: 50px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right__hot-offer__product-list {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right__hot-offer__product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right__hot-offer__product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right__hot-offer__product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right__hot-offer__product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right__hot-offer__product__title {
  font-size: 16px;
}
.index__right__hot-offer__product__timer {
  color: gray;
  font-size: 12px;
}
.index__right__hot-offer__product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right__hot-offer__product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right__hot-offer__product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right__hot-offer__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right__hot-offer__footer__button {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right__hot-offer__footer__button:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right__action__header {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right__action__action-icon {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  transform: rotateX(180deg);
  color: white;
  font-size: 30px;
  margin-bottom: -50px;
}
.index__right__action__header-text {
  margin-top: 50px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right__action__product-list {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index__right__action__product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  flex-basis: calc(25% - 40px);
  box-sizing: border-box;
}
.index__right__action__product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right__action__product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right__action__product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right__action__product__title {
  font-size: 16px;
}
.index__right__action__product__timer {
  color: gray;
  font-size: 12px;
}
.index__right__action__product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right__action__product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right__action__product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right__action__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right__action__footer__button {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right__action__footer__button:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right__recommended__header {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right__recommended__recommended-icon {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  transform: rotateX(180deg);
  color: white;
  font-size: 30px;
  margin-bottom: -50px;
}
.index__right__recommended__header-text {
  margin-top: 50px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right__recommended__header-text i {
  margin-right: 10px;
}
.index__right__recommended__product-list {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right__recommended__product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right__recommended__product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right__recommended__product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right__recommended__product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right__recommended__product__title {
  font-size: 16px;
}
.index__right__recommended__product__timer {
  color: gray;
  font-size: 12px;
}
.index__right__recommended__product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right__recommended__product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right__recommended__product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right__recommended__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right__recommended__footer__button {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right__recommended__footer__button:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right__new__header {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(1, 173, 239);
  transform: rotateX(180deg);
}
.index__right__new__news-icon {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  transform: rotateX(180deg);
  color: white;
  font-size: 30px;
  margin-bottom: -50px;
}
.index__right__new__header-text {
  margin-top: 50px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right__new__header-text i {
  margin-right: 10px;
}
.index__right__new__product-list {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right__new__product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right__new__product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right__new__product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right__new__product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right__new__product__title {
  font-size: 16px;
}
.index__right__new__product__timer {
  color: gray;
  font-size: 12px;
}
.index__right__new__product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right__new__product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right__new__product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right__new__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right__new__footer__button {
  padding: 10px 50px;
  border: 3px solid rgb(1, 173, 239);
  background-color: transparent;
  cursor: pointer;
}
.index__right__new__footer__button:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right__sale__header {
  margin: 20px auto 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid orange;
  transform: rotateX(180deg);
}
.index__right__sale__sale-icon {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  transform: rotateX(180deg);
  color: white;
  font-size: 30px;
  margin-bottom: -50px;
}
.index__right__sale__header-text {
  margin-top: 50px;
  transform: rotateX(180deg);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__right__sale__product-list {
  width: 95%;
  display: flex;
  justify-content: center;
}
.index__right__sale__product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.index__right__sale__product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.index__right__sale__product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.index__right__sale__product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
}
.index__right__sale__product__title {
  font-size: 16px;
}
.index__right__sale__product__timer {
  color: gray;
  font-size: 12px;
}
.index__right__sale__product__price {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: bold;
}
.index__right__sale__product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.index__right__sale__product__new-price {
  color: rgb(1, 173, 239);
  font-size: 20px;
}
.index__right__sale__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
}
.index__right__sale__footer__button {
  padding: 10px 50px;
  border: 3px solid orange;
  background-color: transparent;
  cursor: pointer;
}
.index__right__sale__footer__button:hover {
  background-color: rgba(1, 173, 239, 0.2);
}
.index__right__brand {
  display: none;
}
.index__right__brand__brand__search {
  margin-top: 50px;
  background-color: #005574;
  padding: 10px 25px 40px;
  color: white;
}
.index__right__brand__brand__search__header--text {
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
}
.index__right__brand__brand__search__header__envelope {
  margin-right: 5%;
}
.index__right__brand__brand__search__search-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.index__right__brand__brand__search__input {
  width: 80%;
  padding: 10px;
  border: none;
}
.index__right__brand__brand__search__button {
  background-color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.index__right__newsletter {
  margin-top: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #005574;
  color: white;
  text-align: center;
  width: 90%;
  padding: 30px;
  margin-left: 50px;
}
.index__right__newsletter__header {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.index__right__newsletter__header__envelope {
  margin: 0 10px;
}
.index__right__newsletter__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.index__right__newsletter__form--input-email, .index__right__newsletter__form--input-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.index__right__newsletter__form--input-email::placeholder, .index__right__newsletter__form--input-name::placeholder {
  color: white;
}
.index__right__newsletter__form--submit {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.index__right__newsletter__form--submit:hover {
  background-color: #2b6ca3;
}

footer .slider-controls a {
  margin-left: 90px;
  align-self: center;
  justify-self: center;
  pointer-events: all;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: rgba(140, 140, 140, 0.31);
  padding: 7px 15px;
  margin-top: -40px;
  border-radius: 50%;
  transition: background 0.3s;
}

@media screen and (max-width: 1240px) {
  .index {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    margin: auto;
  }
  .index__left__brand-promo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 99999999;
  }
  .index__left__brand-promo--visible {
    display: block;
  }
  .index__left__brand-promo__commercial {
    width: 100%;
    text-align: center;
  }
  .index__left__brand-promo__commercial-image {
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
  .index__left__brand-promo__commercial-text {
    font-size: 18px;
  }
  .index__left__brand-promo__commercial-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
  }
  .index__left__brand-promo__commercial-close:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .index__left__brand {
    display: none;
  }
  .index__left__newsletter {
    display: none;
  }
  .index__left__product-card {
    display: none;
  }
  .index__left__accordion {
    width: 100%;
    max-width: 1200px;
    overflow: visible;
  }
  .index__left__accordion__item__title {
    margin-top: 0;
    background-color: #01ADEF;
    color: #fff6f6;
    font-size: 24px;
  }
  .index__left__accordion__item__list__list-item {
    font-size: 24px;
  }
  .index__right__brand {
    display: block;
  }
  .index__right__brand__search {
    margin: 50px auto;
    background-color: #005574;
    padding: 50px;
    color: white;
    display: block;
    width: 300px;
    justify-content: center !important;
    justify-items: center;
  }
  .index__right__brand__search__header--text {
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
  }
  .index__right__brand__search__header__envelope {
    margin-right: 5%;
  }
  .index__right__brand__search__box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .index__right__brand__search__box__input {
    width: 80%;
    padding: 10px;
    border: none;
  }
  .index__right__brand__search__box__button {
    background-color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  .index__right__brand__search__box__button__search-icon {
    color: rgb(1, 173, 239);
    font-size: 20px;
  }
  .index__right__newsletter {
    display: flex;
  }
  .index__right__hot-offer__product-list, .index__right__action__product-list, .index__right__recommended__product-list, .index__right__new__product-list, .index__right__sale__product-list {
    width: 100%;
  }
  .index__right__hot-offer__footer-button, .index__right__action__footer-button, .index__right__recommended__footer-button, .index__right__new__footer-button, .index__right__sale__footer-button {
    font-size: large;
    margin-left: 10%;
    justify-self: center;
  }
  .slider-wrapper {
    margin-left: 7% !important;
  }
}
.slider__wrapper {
  position: relative;
  width: 98%;
  height: 600px;
  padding: 0;
  border-bottom: 4px solid #ccc;
  overflow: hidden;
  margin-bottom: 1.3%;
  border-bottom: transparent;
}
.slider__list, .slider__list-item {
  height: 100%;
}
.slider__list-item {
  position: relative;
}
.slider__list-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__overlay {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 2;
}
.slider__label {
  background: white;
  height: 150px;
  width: 280px;
  display: inline-block;
  padding: 0 20px 20px;
}
.slider__label-text {
  width: 200px;
  padding-bottom: 10px;
  display: block;
  font-size: 26px;
  color: black;
  margin-bottom: 5px;
}
.slider__product-button {
  background: rgb(1, 173, 239);
  color: #fff;
  padding: 15px 50px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}
.slider__product-button:hover {
  background: rgb(1, 173, 239);
}
.slider__progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(1, 173, 239);
}
.slider__pager {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.slider__pager li {
  margin: 0 5px;
}
.slider__pager a {
  display: inline-block;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: background 0.3s, color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider__pager a.active {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background: rgb(1, 173, 239);
  text-shadow: none;
}

footer .bx-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  margin: 0 auto;
  position: relative;
  background-color: white;
}
footer .bxslider-second {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .bxslider-second li {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.6666666667%;
  padding-right: 10px;
}
footer .bxslider-second li img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
footer .slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}
footer .slider-controls a {
  pointer-events: all;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: rgba(140, 140, 140, 0.31);
  padding: 10px 15px;
  border-radius: 50%;
  transition: background 0.3s;
}
footer .slider-controls a:hover {
  background: rgba(117, 115, 115, 0.16);
}

@media screen and (max-width: 1300px) {
  .product-detail__gallery {
    height: 600px !important;
  }
  .product-detail__gallery .bx-wrapper {
    height: 600px !important;
  }
  .product-detail__slider__list-item__img {
    transform-origin: center center;
  }
}
.product-detail {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  gap: 1px;
}
.product-detail__content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.product-detail__breadcrumb {
  color: gray;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 10px;
}
.product-detail__breadcrumb__current {
  color: rgb(1, 173, 239);
}
.product-detail__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}
.product-detail__gallery {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 100%;
}
.product-detail__gallery__slider .bx-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
}
.product-detail__gallery__slider .bxslider .product-detail__slider__list-item__img {
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
  display: block;
  box-sizing: border-box;
}
.product-detail__gallery__thumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid rgba(127, 127, 128, 0.38);
  width: 100%;
  margin-right: 2%;
  margin-top: 4%;
  height: 180px;
}
.product-detail__gallery__thumbs__list {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product-detail__gallery__thumbs__list__thumb {
  display: inline-block;
  width: 150px !important;
  max-width: 200px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
}
.product-detail__gallery__thumbs__list__thumb__img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-left: 1px solid rgba(128, 128, 128, 0.31);
  border-right: 1px solid rgba(128, 128, 128, 0.31);
  transition: border 0.3s ease-in-out;
  display: block;
}
.product-detail__gallery__thumbs__prev, .product-detail__gallery__thumbs__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 180px;
  background-color: #a6a3a3;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
}
.product-detail__gallery__thumbs__prev:hover, .product-detail__gallery__thumbs__next:hover {
  color: red;
}
.product-detail__gallery__thumbs__prev {
  left: 0;
  margin-left: -10px;
}
.product-detail__gallery__thumbs__next {
  right: 0;
  margin-right: -10px;
}
.product-detail__info {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.product-detail__info__name__title {
  padding-top: 0;
  font-size: 24px;
  margin: 5px;
}
.product-detail__info__price-code {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
}
.product-detail__info__price-code__price {
  color: rgb(1, 173, 239);
  font-size: 30px;
  padding-right: 5%;
  border-right: 1px solid rgba(127, 127, 128, 0.38);
}
.product-detail__info__price-code__sku {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-right: 1px solid rgba(127, 127, 128, 0.38);
  font-size: 14px;
  line-height: 1;
}
.product-detail__info__price-code__sku__number {
  color: rgb(1, 173, 239);
  font-weight: lighter;
  white-space: nowrap;
  font-size: 20px;
}
.product-detail__info__general {
  font-size: 13px;
  color: grey;
  margin-top: 10px;
}
.product-detail__info__general__spec {
  color: black;
}
.product-detail__info__slider-cart {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  align-items: flex-start;
}
.product-detail__info__slider-cart__cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.product-detail__info__slider-cart__cart__upper {
  display: flex;
  flex-direction: row;
}
.product-detail__info__slider-cart__cart__upper__num {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-detail__info__slider-cart__cart__upper__num__input {
  width: 50px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.37);
  padding-left: 10%;
}
.product-detail__info__slider-cart__cart__upper__num__btn {
  height: 20px;
  margin-left: -10px;
}
.product-detail__info__slider-cart__cart__upper__share {
  width: 50%;
  height: 20px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.product-detail__info__slider-cart__cart__upper__share__icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: red;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.product-detail__info__slider-cart__cart__upper__share__icon:hover {
  transform: scale(1.1);
}
.product-detail__info__slider-cart__cart__upper__share__icon .icon {
  font-size: 14px;
}
.product-detail__info__slider-cart__cart__upper__share__icon--fb {
  background-color: #3b5998;
}
.product-detail__info__slider-cart__cart__upper__share__icon--tw {
  background-color: #1da1f2;
}
.product-detail__info__slider-cart__cart__upper__share__icon--mail {
  background-color: grey;
}
.product-detail__info__slider-cart__cart__upper__share__icon--gmail {
  background-color: orangered;
}
.product-detail__info__slider-cart__cart__lower {
  display: flex;
  flex-direction: row;
}
.product-detail__info__slider-cart__cart__lower__add {
  margin-right: 20px;
  width: 150px;
  height: 50px;
}
.product-detail__info__slider-cart__cart__lower__add__btn {
  height: 50px;
  width: 150px;
  border-radius: 75px;
  border: none;
  background-color: lightgray;
  color: white;
}
.product-detail__info__slider-cart__cart__lower__view {
  width: 150px;
  height: 70px;
}
.product-detail__info__slider-cart__cart__lower__view__btn {
  height: 50px;
  width: 150px;
  border-radius: 75px;
  border: none;
  background-color: rgb(1, 173, 239);
  color: white;
}
.product-detail__additional {
  background: #fff;
  padding-top: 20px;
}
.product-detail__additional__tabs {
  display: flex;
}
.product-detail__additional__tabs__tab {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.product-detail__additional__tabs__tab--active {
  background: rgb(1, 173, 239);
  color: #fff;
}
.product-detail__additional__tab-content {
  display: none;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.38);
}
.product-detail__additional__tab-content--active {
  display: block;
}
.product-detail__similar-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
}
.product-detail__similar-products__heading {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.product-detail__similar-products__heading__text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  background: white;
  padding-right: 10px;
  z-index: 1;
}
.product-detail__similar-products__heading::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  position: relative;
}
.product-detail__similar-products__list {
  width: 95%;
  display: flex;
  justify-content: center;
}
.product-detail__similar-products__list__similar-product {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}
.product-detail__similar-products__list__similar-product__img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1.25;
  object-fit: contain;
}
.product-detail__similar-products__list__similar-product__discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.product-detail__similar-products__list__similar-product__discount::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.product-detail__similar-products__list__similar-product__title {
  font-size: 16px;
}
.product-detail__similar-products__list__similar-product__timer {
  color: gray;
  font-size: 12px;
}
.product-detail__similar-products__list__similar-product__price {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.product-detail__similar-products__list__similar-product__old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.product-detail__similar-products__list__similar-product__new-price {
  color: #00aaff;
  font-size: 20px;
}
.product-detail__modal {
  display: none;
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.product-detail__modal__close {
  position: absolute;
  top: 20px;
  right: 35px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.product-detail__modal__close:hover {
  color: #bbb;
}
.product-detail__modal__image {
  display: block;
  max-width: 90%;
  max-height: 90%;
  border-radius: 4px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  transform: scale(2);
  transform-origin: center center;
}
.product-detail__sidebar {
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-detail__sidebar__video-box {
  background-color: #fff;
  border-radius: 5px;
}
.product-detail__sidebar__video-box__wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  border: transparent;
}
.product-detail__sidebar__video-box__thumbnail, .product-detail__sidebar__video-box__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.product-detail__sidebar__video-box__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 3px solid rgb(1, 173, 239);
  cursor: pointer;
  z-index: 2;
}
.product-detail__sidebar__video-box__play-button::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent white;
  margin-top: 11px;
  margin-left: 17px;
}
.product-detail__sidebar__news {
  margin-top: 50px;
  background-color: #005574;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.product-detail__sidebar__news__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail__sidebar__news__header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-detail__sidebar__news__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-detail__sidebar__news__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.product-detail__sidebar__news__input::placeholder {
  color: white;
}
.product-detail__sidebar__news__button {
  background-color: rgb(1, 173, 239);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
}
.product-detail__sidebar__news__button:hover {
  background-color: #2b6ca3;
}

@media screen and (max-width: 1300px) {
  .product-detail {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  .product-detail__content {
    width: 100%;
  }
  .product-detail__body {
    flex-direction: column;
  }
  .product-detail__body__gallery {
    margin-bottom: 20px;
    min-width: 100%;
    height: auto;
    width: 100% !important;
    padding-left: 20%;
    padding-right: 20%;
    align-self: center !important;
    justify-self: center !important;
  }
  .product-detail__body__gallery .bx-wrapper {
    width: 500px !important;
  }
  .product-detail__body__gallery__thumbs {
    width: 500px !important;
  }
  .product-detail__body__gallery__thumbs {
    width: 100% !important;
    margin-top: 4%;
    margin-bottom: 50px;
    height: 130px;
    border: none !important;
  }
  .product-detail__body__gallery__thumbs #bx-pager {
    flex-wrap: wrap;
  }
  .product-detail__body__gallery__thumbs__prev, .product-detail__body__gallery__thumbs__next {
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    top: 35.5% !important;
    transform: translateY(-50%);
    height: 150px !important;
    background-color: #a6a3a3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
  }
  .product-detail__body__gallery__thumbs #bx-pager a {
    display: inline-block;
    width: 33%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
  }
  .product-detail__info {
    min-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .product-detail__info__naziv__title {
    align-self: center !important;
    font-size: 40px !important;
    flex-direction: column !important;
  }
  .product-detail__info__price-code {
    align-self: center !important;
  }
  .product-detail__info__price-code__price {
    font-size: 50px !important;
  }
  .product-detail__info__price-code__sku {
    font-size: 40px !important;
  }
  .product-detail__info__price-code__sku__number {
    font-size: 40px !important;
  }
  .product-detail__info__general {
    font-size: 30px !important;
    align-items: center;
  }
  .product-detail__info__slider-cart {
    font-size: 35px !important;
    align-self: center !important;
  }
  .product-detail__info__slider-cart__cart {
    width: 100%;
    flex-direction: row !important;
    align-self: flex-start !important;
    height: 100%;
  }
  .product-detail__info__slider-cart__cart__upper {
    flex-direction: column !important;
  }
  .product-detail__info__slider-cart__cart__upper__share {
    align-self: center;
    flex-direction: row;
    margin-top: 50%;
  }
  .product-detail__info__slider-cart__cart__upper__share__icon {
    height: 60px;
    width: 60px;
  }
  .product-detail__info__slider-cart__cart__upper__share__icon__icon {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
  }
  .product-detail__info__slider-cart__cart__upper__num {
    font-size: 40px !important;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .product-detail__info__slider-cart__cart__upper__num__label {
    font-size: 40px !important;
  }
  .product-detail__info__slider-cart__cart__upper__num__input {
    width: 80px !important;
    height: 50px !important;
    font-size: 30px !important;
    padding: 0 10px !important;
  }
  .product-detail__info__slider-cart__cart__upper__num__btn {
    width: 50px !important;
    height: 50px !important;
    font-size: 30px !important;
    margin-left: -10px !important;
  }
  .product-detail__info__slider-cart__cart__lower {
    margin-top: 10px !important;
    flex-direction: column !important;
  }
  .product-detail__info__slider-cart__cart__lower__add, .product-detail__info__slider-cart__cart__lower__view {
    width: 300px !important;
    height: 80px !important;
    margin-bottom: 10px;
  }
  .product-detail__info__slider-cart__cart__lower__add__btn, .product-detail__info__slider-cart__cart__lower__view__btn {
    font-size: 24px !important;
    width: 100%;
    height: 100%;
  }
  .product-detail__info__slider-cart__cart__upper__share {
    order: 3;
  }
  .product-detail__info__slider-cart__cart__num {
    order: 1;
  }
  .product-detail__info__slider-cart__cart__lower {
    order: 2;
  }
  .product-detail__additional {
    margin-top: 15%;
  }
  .product-detail__info {
    width: 100%;
  }
  .product-detail__info__general {
    font-size: xx-large !important;
    justify-self: center !important;
    align-self: flex-start;
  }
  .product-detail__gallery__thumbs__list__thumb__img {
    width: 100%;
    margin-top: 15px;
    height: 130px;
    object-fit: contain;
    border-left: 1px solid rgba(128, 128, 128, 0.31);
    border-right: 1px solid rgba(128, 128, 128, 0.31);
    transition: border 0.3s ease-in-out;
    display: block;
  }
  .product-detail__additional__tab-content__list__item {
    font-size: 30px !important;
  }
  .product-detail__additional__tab-content__paragraph {
    font-size: 30px !important;
  }
  .product-detail__gallery__thumbs__prev, .product-detail__gallery__thumbs__next {
    height: -100px;
  }
  .product-detail__sidebar {
    width: 100%;
    margin-top: 1rem;
  }
  .product-detail__sidebar__news__header {
    font-size: 24px;
  }
  .product-detail__sidebar__news__input {
    font-size: 22px;
  }
  .product-detail__sidebar__news__button {
    font-size: 24px;
  }
  .product-detail__breadcrumb {
    font-size: medium;
  }
  .product-detail__additional__tabs__tab {
    font-size: xx-large;
  }
  .product-detail__info__slider-cart__cart__upper__num__label {
    font-size: xxx-large;
  }
  .product-detail__gallery__slider {
    width: 100% !important;
  }
  .product-detail__info__name__title {
    font-size: xxx-large;
    justify-self: center;
  }
  .product-detail__similar-products__title {
    font-size: 30px !important;
  }
}
.footer {
  position: relative;
}
.footer__slider-controls {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}
.footer__slider-controls a {
  pointer-events: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(140, 140, 140, 0.31);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  cursor: pointer;
}
.footer__slider-prev::before {
  content: "❮";
}
.footer__slider-next::before {
  content: "❯";
}
.footer__slider-prev:hover, .footer__slider-next:hover {
  background: rgba(140, 140, 140, 0.6);
}
.footer__bottom {
  background-color: rgb(1, 173, 239);
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 2px 8%;
}
.footer__bottom-columns {
  display: flex;
  width: 100%;
  margin-left: 10%;
}
.footer__bottom-column {
  flex: 1;
  max-width: 200px;
  border-right: 1px solid #CCCCCC;
  padding-left: 10px;
}
.footer__bottom-column:first-child {
  border-left: 1px solid #CCCCCC;
  padding: 1px 4%;
  margin-left: 2%;
}
.footer__bottom-title {
  font-size: 12px;
  margin-bottom: 10px;
}
.footer__bottom-link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 5px;
}
.footer__bottom-link:hover {
  text-decoration: underline;
}
.footer__copy {
  background-color: #004C75;
  color: white;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
}
.footer__copy-link {
  color: #B3E5FC;
  text-decoration: none;
}
.footer__copy-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .footer__bottom {
    background-color: rgb(1, 173, 239);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .footer__bottom-columns {
    margin: auto !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .footer__bottom-column {
    flex: 1;
    border-right: none !important;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.68);
    max-width: 1000px;
    width: 100%;
  }
  .footer__bottom-column:first-child {
    border-left: none;
    padding: 0 !important;
    margin-left: 2% !important;
    max-width: 1000px;
    width: 100%;
  }
  .footer__bottom-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer__bottom-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .footer__bottom-link:hover {
    text-decoration: underline;
  }
  .footer__copy {
    font-size: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
