@import "../base/variables";
@import "../base/fonts";

.navbar {
  background-color: white;

  &__container {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    background-color: $base-grey;
    border-bottom: 1px solid #000;
    padding: 0 8%;

    &__languages {
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      font-size: 12px;

      &__link {
        text-decoration: none;
        color: #1B627E;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &__info {
        white-space: nowrap;
      }
    }

    &__account {
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      font-size: 12px;

      &__link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11vh;
    background-color: $navbar-dark-blue;
    border-bottom: 1px solid #000;
    padding: 0 8%;

    &__logo {
      flex: 1 0 auto;
      justify-content: flex-start;

      &__text {
        transform: scale(1, 2);
        font-size: 50px;
        color: $text-dark-blue;
        margin: 0;

        &__highlight {
          color: white;
        }
      }
    }

    &__search {
      flex-grow: 2;
      width: 600px;
      max-width: 80%;
      position: relative;
      margin: 0 1rem;

      &__input {
        width: 100%;
        padding: 1.2rem 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 14px;
        box-sizing: border-box;
        &:focus {
          outline: none;
          box-shadow: 0 0 0.3125rem rgba(81, 203, 238, 1);
          border-color: rgba(81, 203, 238, 1);
        }
      }

      &__icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: $general-cyan;
        cursor: pointer;
      }
    }

    &__social {
      &__icon {
        margin-right: 20px;
        flex: 0 0 auto;
        color: white;
        border: 0.125rem solid $general-cyan;
        font-size: 1.25rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &__cart {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__text,
      &__price {
        color: white;
        margin: 0;
        font-size: 20px;
      }
      &__text {
        color: $general-cyan;
      }
      &__icon {
        background-color: $general-cyan;
        color: white;
        border: 0.125rem solid $general-cyan;
        font-size: 1.25rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
      }
    }
  }
  &__bottom {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 40px;
    max-width: 100%;
    flex-grow: 1;
    position: relative;
    margin: 0 5%;
    background-color: $general-cyan;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
    transform: rotateX(180deg);
    padding: 20px 60px;

    &__burger {
      display: none;
    }

    &__toggle {
      display: none;
    }

    &__menu {
      transform: rotateX(180deg);
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      width: 1400px;
      height: 100%;

      &__item {
        display: flex;
        background-color: $general-cyan;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center;
        border-right: 1px solid rgba(145, 145, 145, 0.4);
        font-size: 14px;
        white-space: nowrap;
        padding: 10px 0;
        &-active {
          background-color: #59d7fb !important;
        }
        &:first-child {
          border-left: 1px solid rgba(145, 145, 145, 0.4);
          padding: 10px -10px;
        }
      }
      &__link {
        text-decoration: none;
        color: white;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.fa-shopping-cart{
  color: white;
}


@media screen and (max-width: 1300px) {
  .navbar {
    &__top {
      padding: 4%;

      &__languages {
        &__link {
          font-size: 24px !important;
        }
        &__info {
          padding: 5px !important;
          font-size: 22px !important;
          white-space: normal !important;
        }
      }

      &__account {
        &__link {
          font-size: 24px !important;
          padding: 4px;
        }
      }
    }
    &__middle {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 20px 5%;

      &__logo {
        padding: 20px 5%;
      }

      &__search {
        padding: 3%;

        &__input {
          font-size: 30px;
        }
        &__icon {
          display: none;
        }
      }

      &__social {
        &__icon {
          display: none;
        }
      }

      &__cart {
        flex-direction: row;
        align-items: center;
        gap: 5px;
        height: 20px !important;

        &__text,
        &__price,
        &__icon {
          font-size: 28px !important;
        }
      }
    }
    &__bottom {
      clip-path: none;
      padding: 30px 40px;
      justify-content: center;
      background: linear-gradient(to right, #3b7c7c 50%, $general-cyan 50%);
      z-index: 999999;

      &--open-product {
        clip-path: none;
        padding: 30px 40px;
        justify-content: center;
        background: $general-cyan;
        z-index: 999999;
      }

      &__burger {
        display: flex !important;
        flex-direction: column;
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 45%;
        top: 10px;
        transform: translateX(-50%);
        z-index: 1000;

        &--open-product-burger {
          margin-left: 100% !important;
          font-size: 3rem !important;
        }

        &__icon {
          font-size: 40px;
          color: white;
        }
      }

      &__menu {
        display: none;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #3b7c7c;
        z-index: 999999;
        margin-top: -154px;
        width: 100%;

        &--open-product-menu {
          background-color: $general-cyan !important;
        }


        &__item {
          padding: 12px;
          text-align: center;
          background-color: #3b7c7c;

          &:first-child {
            margin-top: 31px;
          }

          &__link {
            font-size: 30px !important;
          }
        }

        &__link {
          text-decoration: none;
          color: white;
          text-align: center;
          font-size: xx-large;
        }
      }

      &__toggle:checked ~ &__menu {
        display: flex;
        flex-direction: column;
      }
    }
  }
}






