@import "../base/variables";
@import "../base/fonts";

.see-all {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  padding: 0 1rem;
  box-sizing: border-box;

  &__left {
    flex: 0 0 15%;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 6rem;
    margin-right: 1rem;

    .accordion,
    .brand-promo,
    .brand-search,
    .newsletter {
      margin-bottom: 1.5rem;
    }
  }

  &__right {
    flex: 1;
    margin-right: 4rem;
    padding: 1rem;
    box-sizing: border-box;


    .index__right__hot-offer__product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .product-card {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
    .see-all{
      &__left{
        display: none;
      }
      &__right{
        justify-content: center;
        margin-left: 4%;
      }
    }
}
