
.product-detail {
  display: flex;
  flex-direction: row;
  padding-left: 5.2%;
  padding-right: 8.2%;
  gap: 1px;

  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__breadcrumb {
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
  }


  &__gallery {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 100%;

    &__slider {
      .bx-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100% !important;
        width: 100% !important;
        overflow: hidden !important;
      }
      .product-detail__slider__list-item__img {
        width: 100% !important;
        height: auto !important;
        object-fit: contain;
        display: block;
        box-sizing: border-box;
      }
    }

    &__thumbs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 1px solid rgba(127, 127, 128, 0.38);
      width: 100%;
      margin-right: 2%;
      margin-top: 4%;
      height: 180px;

      &__list {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &__thumb {
          display: inline-block;
          width: calc(450px / 3) !important;
          max-width: 200px;
          height: auto;
          cursor: pointer;
          flex-shrink: 0;

          &__img {
            width: 100%;
            height: 120px;
            object-fit: contain;
            border-left: 1px solid rgba(128, 128, 128, 0.31);
            border-right: 1px solid rgba(128, 128, 128, 0.31);
            transition: border 0.3s ease-in-out;
            display: block;
          }
        }
      }

      &__prev,
      &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 180px;
        background-color: #a6a3a3;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        text-decoration: none;

        &:hover {
          color: red;
        }
      }
      &__prev {
        left: 0;
      }
      &__next {
        right: 0;
        margin-right: -10px;
      }
    }
  }

  &__info {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    &__name {
      &__title{
        padding-top: 0;
        font-size: 24px;
        margin: 5px;
      }
    }

    &__price-code {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-left: 5px;

      &__price {
        color: $general-cyan;
        font-size: 30px;
        padding-right: 5%;
        border-right: 1px solid rgba(127, 127, 128, 0.38);
      }
      &__sku {
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        border-right: 1px solid rgba(127, 127, 128, 0.38);
        font-size: 14px;
        line-height: 1;

        &__number {
          color: $general-cyan;
          font-weight: lighter;
          white-space: nowrap;
          font-size: 20px;
        }
      }
    }

    &__general {
      font-size: 13px;
      color: grey;
      margin-top: 10px;

      span {
        color: black;
      }
    }

    &__slider-cart {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 16px;
      align-items: flex-start;

      &__cart {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        &__upper {
          display: flex;
          flex-direction: row;

          &__num {
            display: flex;
            align-items: center;
            gap: 5px;

            input {
              width: 50px;
              height: 20px;
              border: 1px solid rgba(128, 128, 128, 0.37);
              padding-left: 10%;
            }
            button {
              height: 20px;
              margin-left: -10px;
            }
          }

          &__share {
            width: 50%;
            height: 20px;
            margin-top: 18px;
            display: flex;
            align-items: center;
            gap: 4px;

            &__icon {
              width: 20px;
              height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #ccc;
              font-size: 14px;
              cursor: pointer;
              border-radius: 4px;
              background-color: red;
              color: white;
              transition: background-color 0.3s ease, transform 0.2s ease;

              &:hover {
                transform: scale(1.1);
              }
              i {
                font-size: 14px;
              }
            }
            &__icon--fb {
              background-color: blue;
            }
            &__icon--tw {
              background-color: #1DA1F2;
            }
            &__icon--mail {
              background-color: grey;
            }
            &__icon--gmail {
              background-color: orangered;
            }
            &__label {
              font-weight: bold;
            }
          }
        }

        &__lower {
          display: flex;
          flex-direction: row;
          &__add {
            padding-left: 13px;
            margin-right: 20px;
            width: 150px;
            height: 50px;
            &__btn {
              background-color: lightgray;
              color: white;
            }
          }
          &__add {
            width: 150px;
            height: 70px;
            &__btn {
              background-color: $general-cyan;
              color: white;
            }
          }
          button {
            height: 50px;
            width: 150px;
            border-radius: 75px;
            border: none;
          }
        }
      }
    }
  }


  &__additional {
    background: #fff;
    padding-top: 20px;

    &__tabs {
      display: flex;

      &__tab {
        background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;

        &--active {
          background: $general-cyan;
          color: #fff;
        }
      }
    }

    &__tab-content {
      display: none;
      padding: 20px;
      border: 1px solid rgba(128, 128, 128, 0.38);

      &--active {
        display: block;
      }
    }
  }


  &__similar-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 10px;

    &__heading {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      &__text {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
        background: white;
        padding-right: 10px;
        z-index: 1;
      }

      &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: #ddd;
        position: relative;
      }
    }

    &__list {
      width: 95%;
      display: flex;
      justify-content: center;

      .product-detail__similar-product {
        position: relative;
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        max-width: 300px;

        &__img {
          width: 100%;
          max-width: 150px;
          aspect-ratio: 1 / 1.25;
          object-fit: contain;
        }

        &__discount {
          position: absolute;
          top: 10px;
          right: 10px;
          background: orange;
          color: white;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;

          &::before {
            content: "";
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            border-width: 10px;
            border-style: solid;
            border-color: transparent orange transparent transparent;
          }
        }

        &__title {
          font-size: 16px;
        }

        &__timer {
          color: gray;
          font-size: 12px;
        }

        &__price {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          font-size: 18px;
          font-weight: bold;
        }

        &__old-price {
          text-decoration: line-through;
          color: gray;
          font-size: 14px;
        }

        &__new-price {
          color: #00aaff;
          font-size: 20px;
        }
      }
    }
  }
}


.product-detail__sidebar {
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-box {
  background-color: #fff;
  border-radius: 5px;

  &__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    border: transparent;
  }

  &__thumbnail,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px solid $general-cyan;
    cursor: pointer;
    z-index: 2;

    &::before {
      content: "";
      display: inline-block;
      border-style: solid;
      border-width: 15px 0 15px 25px;
      border-color: transparent transparent transparent white;
      margin-top: 11px;
      margin-left: 17px;
    }
  }
}

.news {
  margin-top: 50px;
  background-color: $navbar-dark-blue;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;

    &::placeholder {
      color: white;
    }
  }

  &__button {
    background-color: $general-cyan;
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    &:hover {
      background-color: #2b6ca3;
    }
  }
}
@media screen and (max-width: 1300px) {
  .product-detail {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    &__content {
      width: 100%;
    }
    &__body {
      flex-direction: column;
      .product-detail__gallery {
        margin-bottom: 20px;
        min-width: 100%;
        height: auto;
        .bx-wrapper {
          width: 500px !important;
          margin-left: 10%;
        }
        &__thumbs {
          margin-left: 5% !important;
          width: 500px !important;
        }
      }
      .product-detail__gallery__thumbs {
        width: 55% !important;
        margin-left: 15% !important;
        margin-top: 4%;
        margin-bottom: 50px;
        height: 130px;
        border: none !important;
        #bx-pager {
          flex-wrap: wrap;
        }
        .product-detail__gallery__thumbs__prev,
        .product-detail__gallery__thumbs__next {
          margin-top: 30px;
          font-size: 18px;
          position: absolute;
          top: 35.5% !important;
          transform: translateY(-50%);
          height: 150px !important;
          background-color: #a6a3a3;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          z-index: 10;
          text-decoration: none;
        }
        .product-detail__gallery__thumbs__prev {
          margin-left: 50px;
        }
        .product-detail__gallery__thumbs__next {
          margin-right: -20px !important;
        }
        #bx-pager a {
          display: inline-block;
          width: 33%;
          max-width: 300px;
          height: auto;
          cursor: pointer;
          text-align: center;
          flex-shrink: 0;
        }
      }
    }
    .product-detail__info {
      min-width: 100%;
      margin-left: 0;
      margin-top: 20px;
      &__naziv {
        .product-detail__info__naziv__title {
          align-self: center !important;
          font-size: 40px !important;
          flex-direction: column !important;
        }
      }
      &__price-code {
        align-self: center !important;
        h2 {
          font-size: 50px !important;
        }
        h3 {
          font-size: 40px !important;
          span {
            font-size: 40px !important;
          }
        }
      }
      &__general {
        font-size: 30px !important;
        align-items: center;
      }
      &__slider-cart {
        font-size: 35px !important;
        margin-bottom: 15%;
        align-self: center !important;
        .product-detail__info__slider-cart__cart {
          width: 700px !important;
          flex-direction: row !important;
          align-self: flex-start !important;
          &__upper {
            flex-direction: column !important;
            &__num {
              margin-left: -100px;
              font-size: 40px !important;
              display: flex;
              align-items: center;
              gap: 10px;
              &__label {
                font-size: 40px !important;
              }
              &__input {
                width: 80px !important;
                height: 50px !important;
                font-size: 30px !important;
                padding: 0 10px !important;
              }
              &__btn {
                width: 50px !important;
                height: 50px !important;
                font-size: 30px !important;
                margin-left: -10px !important;
              }
            }
            &__share {
              margin-left: 50px;
              margin-top: 50px;
              height: 60px !important;
              width: 200px !important;
              font-size: 40px !important;
              display: flex;

              &__icon {
                display: flex;
                width: 60px !important;
                height: 60px !important;

                i {
                  margin-left: 12px;
                  font-size: 36px !important;
                  width: 60px !important;
                }
              }
              &__label {
                font-size: 24px !important;
                margin-left: 10px !important;
              }
            }
          }
          &__lower {
            margin-top: 10px !important;
            flex-direction: column !important;
            button {
              margin-left: 50px;
              width: 250px;
              font-size: large;
            }
            &__add,
            &__view {
              width: 300px !important;
              height: 80px !important;
              margin-bottom: 10px;
            }
            &__add__btn,
            &__view__btn {
              font-size: 24px !important;
              width: 100%;
              height: 100%;
            }
            &__view{
              margin-left: 12px !important;
            }
            button {
              font-size: 24px !important;
              width: 300px !important;
              height: 80px !important;
            }
          }
        }
      }
    }
  }
  .product-detail__gallery__thumbs__list__thumb__img {
    width: 100%;
    margin-top: 15px;
    height: 130px;
    object-fit: contain;
    border-left: 1px solid rgba(128, 128, 128, 0.31);
    border-right: 1px solid rgba(128, 128, 128, 0.31);
    transition: border 0.3s ease-in-out;
    display: block;
  }
  .product-detail__gallery__thumbs__prev,
  .product-detail__gallery__thumbs__next {
    height: -100px;
  }
  .product-detail__sidebar {
    width: 100%;
    margin-top: 1rem;
    padding: 0 2%;
  }
  .news {
    &__inner {
      .news__header {
        font-size: 30px !important;
      }
      .news__form {
        .news__input {
          font-size: 30px !important;
        }
      }
    }
  }
  .product-detail__breadcrumb {
    font-size: medium;
  }
  .product-detail__additional__tabs__tab {
    font-size: xx-large;
  }
  .product-detail__info__slider-cart__cart__upper__num__label {
    font-size: xxx-large;
  }

  .product-detail__gallery__slider{
    margin-left: 125px;
  }
}

