.wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 5.2%;
  padding-right: 8.2%;
  gap: 1px;
}


.open-product {
  display: flex;
  width: 80%;
  flex-direction: column;

  .path {
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .product-slider {
      flex-direction: column;
      flex: 1;
      min-width: 300px;
      height: 500px;
      display: flex;
      align-content: center;
      justify-content: center;

      .bx-wrapper {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: rgba(127, 127, 128, 0.38) solid 1px;
      }
      .product-slider-thumb {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        border: rgba(127, 127, 128, 0.38) solid 1px;
        width: 100%;
        margin-right: 2%;
        margin-top: 4%;
        height: 130px;

        #bx-pager {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          width: 100%;
        }

        #bx-pager a {
          display: inline-block;
          width: calc(33.33% - 10px);
          max-width: 150px;
          height: auto;
          cursor: pointer;
          flex-shrink: 0;
        }

        #bx-pager img {
          width: 100%;
          height: 100%;
          border-left: 1px solid rgba(128, 128, 128, 0.31);
          border-right: 1px solid rgba(128, 128, 128, 0.31);
          transition: border 0.3s ease-in-out;
        }

        .slider-prev-product,
        .slider-next-product {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50px;
          height: 130px;
          background-color: #a6a3a3;
          color: white;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          z-index: 10;
          text-decoration: none;


          &:hover {
            color: red;
          }
        }

        .slider-prev-product {
          left: 0;
        }

        .slider-next-product {
          right: 0;
          margin-right: -10px;
        }
      }


      img {
        margin-top: -3.5%;
        height: 110%;
      }
    }

    .product-info {
      flex: 1;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      margin-left: 2%;

      .product-info-naziv {
        h1 {
          padding-top: 0;
          font-size: 24px;
          margin: 5px;
        }
      }

      .product-info-cijena-sifra {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 5px;

        h2 {
          color: $general-cyan;
          font-size: 30px;
          padding-right: 5%;
          border-right: rgba(127, 127, 128, 0.38) solid 1px;
        }

        h3 {
          padding-top: 3%;
          padding-left: 5%;
          padding-right: 5%;
          border-right: rgba(127, 127, 128, 0.38) solid 1px;
          font-size: 14px;
          line-height: 1;

          span {
            color: $general-cyan;
            font-weight: lighter;
            white-space: nowrap;
            font-size: 20px;
          }
        }
      }

      .product-info-general {
        font-size: 13px;
        color: grey;
        margin-top: 10px;

        span {
          color: black;
        }
      }

      .product-slider-cart {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 16px;
        align-items: flex-start;

        .product-cart {
          flex-direction: row;
          min-width: 250px;
          height: 130px;
          display: flex;
        }


        .product-cart {
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;

          .upper-part {
            display: flex;
            flex-direction: row;

            .num-of-products {
              display: flex;
              align-items: center;
              gap: 5px;

              input {
                width: 50px;
                height: 20px;
                border: 1px solid rgba(128, 128, 128, 0.37);
                padding-left: 10%;
              }

              button {
                height: 20px;
                margin-left: -10px;
              }
            }

            .share-container {
              width: 50%;
              height: 20px;
              margin-top: 18px;
              display: flex;
              align-items: center;
              gap: 4px;

              .icon {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ccc;
                font-size: 14px;
                cursor: pointer;
                border-radius: 4px;
                background-color: red;
                color: white;
                transition: background-color 0.3s ease, transform 0.2s ease;

                &:hover {
                  transform: scale(1.1);
                }

                i {
                  font-size: 14px;
                }
              }

              .fb {
                background-color: blue;
              }

              .tw {
                background-color: #1DA1F2;
              }
              .mail {
                background-color: grey;
              }

              .gmail {
                background-color: orangered;
              }

              .share-text {
                font-weight: bold;
              }
            }
          }

          .lower-part {
            display: flex;
            flex-direction: row;
            .pregledaj {
              padding-left: 13px;
              width: 150px;
              height: 50px;
              button {
                background-color: lightgray;
                color: white;
              }
            }
            .dodaj {
              width: 150px;
              height: 70px;
              button {
                background-color: $general-cyan;
                color: white;
              }
            }
            button {
              height: 50px;
              width: 150px;
              border-radius: 75px;
              border: none;
            }
          }
        }
      }
    }
  }

  .product-additional {
    background: #fff;
    padding-top: 20px;

    .tabs {
      display: flex;

      .tab {
        background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;

        &.active {
          background: $general-cyan;
          color: #fff;
        }
      }
    }
    .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid rgba(128, 128, 128, 0.38);

      &.active {
        display: block;
      }
    }
  }

  .similar-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 10px;

    .similar-product-heading {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      h2 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
        background: white;
        padding-right: 10px;
        z-index: 1;
      }

      &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: #ddd;
        position: relative;
      }
    }

    .product-list-vruca-ponuda {
      width: 95%;
      display: flex;
      justify-content: center;

      .product {
        position: relative;
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        max-width: 300px;

        img {
          width: 100%;
          max-width: 150px;
          aspect-ratio: 1/1.25;
        }

        .discount {
          position: absolute;
          top: 10px;
          right: 10px;
          background: orange;
          color: white;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
        }

        .discount::before {
          content: "";
          position: absolute;
          left: -16px;
          top: 50%;
          transform: translateY(-50%);
          border-width: 10px;
          border-style: solid;
          border-color: transparent orange transparent transparent;
        }

        h3 {
          font-size: 16px;
        }

        .timer {
          color: gray;
          font-size: 12px;
        }

        .price {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          font-size: 18px;
          font-weight: bold;
        }

        .old-price {
          text-decoration: line-through;
          color: gray;
          font-size: 14px;
        }

        .new-price {
          color: #00aaff;
          font-size: 20px;
        }
      }
    }
  }
}

.right-bar {
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-box {
  background-color: #fff;
  border-radius: 5px;

  &__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    border: transparent;
  }

  &__thumbnail,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px solid $general-cyan;
    cursor: pointer;
    z-index: 2;

    &::before {
      content: "";
      display: inline-block;
      border-style: solid;
      border-width: 15px 0 15px 25px;
      border-color: transparent transparent transparent white;
      margin-top: 11px;
      margin-left: 17px;
    }
  }
}

.news {
  margin-top: 50px;
  background-color: $navbar-dark-blue;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;

    &::placeholder {
      color: white;
    }
  }

  &__button {
    background-color: $general-cyan;
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    &:hover {
      background-color: #2b6ca3;
    }
  }
}


@media screen and (max-width: 1300px) {

  .wrapper {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .open-product {
    width: 100%;

    .product-container {
      flex-direction: column;

      .product-slider {
        margin-bottom: 20px;
        min-width: 100%;
        height: auto;

        .bx-wrapper {
          height: auto;
          width: 500px !important;
          margin-left: 10%;
        }
      }

      .product-slider-thumb {
        margin-left: 5% !important;
        width: 500px !important;
      }
    }
  }
  .product-info {
    min-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .product-slider-thumb {
    width: 60% !important;
    margin-left: 10% !important;
    margin-top: 4%;
    margin-bottom: 50px;
    height: 130px;
    padding-bottom: 100px;

    #bx-pager {
      flex-wrap: wrap;
    }

    border: none !important;

    .slider-prev-product,
    .slider-next-product {
      margin-top: 5%;
      font-size: 18px;
      position: absolute;
      top: 35.5% !important;
      transform: translateY(-50%);
      height: 150px !important;
      background-color: #a6a3a3;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 10;
      text-decoration: none;
    }

    .slider-prev-product {
      margin-top: 30px;
      margin-left: 50px;
    }

    .slider-next-product {
      margin-top: 30px;
      margin-right: -50px !important;
    }

    #bx-pager a {
      display: inline-block;
      width: 33%;
      max-width: 300px;
      height: auto;
      cursor: pointer;
      text-align: center;
      flex-shrink: 0;
    }
  }
  .right-bar {
    width: 100%;
    margin-top: 1rem;
    padding: 0 2%;
  }
  .product-info {
    .product-info-naziv h1 {
      align-self: center !important;
      font-size: 40px !important;
      flex-direction: column !important;
    }

    .product-info-cijena-sifra {
      align-self: center !important;

      h2 {
        font-size: 50px !important;
      }

      h3 {
        font-size: 40px !important;

        span {
          font-size: 40px !important;
        }
      }
    }

    .product-info-general {
      font-size: 30px !important;
      align-items: center;
    }

    .product-slider-cart {
      font-size: 35px !important;
      margin-bottom: 15%;
      align-self: center !important;

      .product-cart {
        width: 700px !important;
        flex-direction: row !important;
        align-self: flex-start !important;

        .upper-part {
          flex-direction: column !important;
        }

        .lower-part {
          margin-left: 5%;
          margin-top: 5% !important;
          flex-direction: column !important;

          .dodaj {
            button {
              height: 70px !important;
              width: 300px !important;
              margin: 0 !important;
              margin-left: 7% !important;
              font-size: 25px !important;
            }
          }

          .pregledaj {
            button {
              height: 70px !important;
              width: 300px !important;
              margin-top: 5% !important;
              font-size: 25px !important;

            }
          }
        }

        .upper-part {
          .num-of-products {
            font-size: 40px !important;

            input {
              width: auto !important;
              height: auto !important;
              font-size: 30px !important;
              padding: 20px !important;
            }

            button {
              height: 80px !important;
              width: 80px !important;
              font-size: 40px !important;
            }
          }

          .share-container {
            height: 60px !important;
            font-size: 40px !important;

            .icon {
              width: 60px !important;
              height: 60px !important;

              i {
                width: 60px !important;
                height: 60px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px !important;
                cursor: pointer;
                border-radius: 4px;
                color: white;
                transition: background-color 0.3s ease, transform 0.2s ease;
              }
            }
          }
        }
      }
    }
  }
  .open-product .product-additional .tabs .tab {
    font-size: 25px !important;
  }
  .right-bar .box.video-box .video-wrapper img, .right-bar .box.video-box .video-wrapper video {
    width: 90% !important;
  }
  .slide-label .label-text {
    font-size: 45px !important;
  }
  .bx-wrapper .bx-pager .bx-pager-item a.active {
    font-size: 45px !important;
  }
  .bx-wrapper .bx-pager .bx-pager-item a {
    font-size: 45px !important;
  }


  .open-product .similar-products .similar-product-heading h2 {
    font-size: 40px !important;
  }
  .right-bar .news .newsletter {
    width: 99%;
  }
  .open-product .product-container .product-slider {
    margin-bottom: 20px;
    min-width: 100%;
    height: auto;
    margin-left: 10%;
  }

  .news__inner {
    .news__header{
      font-size: 30px !important;
    }
    .news__form{
      .news__input {
        font-size: 30px !important;
      }
    }
  }
}

