@import "../base/variables";
@import "../base/fonts";

.index{
  &__left {
    &__accordion {
  display: flex;
  flex-direction: column;
  width: 500%;
  font-family: Arial, sans-serif;
  overflow: visible;
  margin-bottom: 3.5%;
  border: 1px solid rgba(128, 128, 128, 0.37);

  &__header {
    background: $navbar-dark-blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .icon {
      font-size: 30px;
    }
  }

  &__header-text {
  }

  &__item {
    border-bottom: 1px solid grey;

  }
  &__title {
    background: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
  }

  &__content {
    display: none;
    background: white;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid grey;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    padding: 12px 20px;
    font-size: 14px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: $cyan-hover;
    }
    &:hover {
      background-color: rgba(128, 128, 128, 0.43);
    }
    &:last-child {
      border-bottom: none;
    }
  }
} }
}

@media screen and (max-width: 1240px) {
  .index {
    &__left {
      &__accordion {
        max-width: 850px;
        margin-left: -290px;
        margin-top: 40px;
        border: transparent;

        &__header {
          width: 60px;
          margin-left: 455px;
          margin-top: -105px;
          height: 50px;
          background: $general-cyan;
          position: relative;
          z-index: 999999;
          margin-bottom: 40px;

          .icon {
            display: flex;
            font-size: 40px;
            position: relative;
            z-index: 999999;
          }
        }

        &__header-text {
          display: none;

        }

        &__item {
          width: 880px;
        }

        &__title {
          color: white;
          background-color: $general-cyan;
          font-size: 24px;
        }
        &__list-item{
          font-size: 20px;
          color: white;
          background-color: $general-cyan;
        }
      }
    }
  }
}

