@import "../base/mixins";
@import "../base/variables";
@import "../base/fonts";

.navbar {
  background-color: white;
}
.nav-container {
  .navflex-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    background-color: $base-grey;
    border-bottom: 1px solid #000;
    padding: 0 8%;

    .flex-item1,
    .flex-item2 {
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      font-size: 12px;
    }

    .flex-item1 {
      a {
        text-decoration: none;
        color: #1B627E;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      p {
        white-space: nowrap;
      }
    }

    .flex-item2 {
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .navflex-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11vh;
    background-color: $navbar-dark-blue;
    border-bottom: 1px solid #000;
    padding: 0 8%;
    .flex-item-centrometal {
      justify-content: flex-start;
      flex: 1 0 auto;
      p {
        transform: scale(1, 2);
        font-size: 50px;
        color: $text-dark-blue;
        margin: 0;
        span {
          color: white;
        }
      }
    }

    .flex-centrometal-search {
      flex-grow: 2;
      max-width: 50%;
      position: relative;
      margin: 0 1rem;

      input {
        width: 100%;
        padding: 1.2rem 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 14px;
        box-sizing: border-box;

        &:focus {
          outline: none;
          box-shadow: 0 0 0.3125rem rgba(81, 203, 238, 1);
          border-color: rgba(81, 203, 238, 1);
        }
      }

      .fa-search {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.25rem;
        color: $general-cyan;
        cursor: pointer;
      }
    }

    .fa-facebook-f {
      margin-right: 20px;
      flex: 0 0 auto;
      color: white;
      border: 0.125rem solid $general-cyan;
      font-size: 1.25rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
    }

    .flex-centrometal-cart {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p:nth-child(1) {
        color: $general-cyan;
        margin: 0;
        font-size: 1rem;
      }
      p:nth-child(2) {
        color: white;
        margin: 0;
        font-size: 1rem;
      }

      .fa-shopping-cart {
        background-color: $general-cyan;
        color: white;
        border: 0.125rem solid $general-cyan;
        font-size: 1.25rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
      }
    }
  }
  .navflex-container3 {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 40px;
    max-width: 1250px;
    position: relative;
    margin: 0 5%;
    background-color: $general-cyan;
    padding: 20px;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
    transform: rotateX(180deg);

    .nav-menu {
      transform: rotateX(180deg);
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      width: 1200px;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center;
        border-right: 1px solid rgba(145, 145, 145, 0.4);
        font-size: 14px;
        white-space: nowrap;
        padding: 10px 0;

        &:first-child {
          border-left: 1px solid rgba(145, 145, 145, 0.4);
          padding: 10px -10px;
        }

        a {
          text-decoration: none;
          color: white;
          font-size: 14px;
          text-align: center;
        }

        &:hover:not(:last-child) {
          background: $cyan-hover;
          border-top: 2px solid white;
        }
        }
      }
    }
  }


