@import "../base/variables";
@import "../base/fonts";
.bx-wrapper {
  position: relative;
  width: 97%;
  height: 500px;
  padding: 0;
  border-bottom: 4px solid #ccc;
  overflow: hidden;
  margin-left: 1.5%;
  margin-bottom: 1.3%;
  border-bottom: transparent;

  .bx-viewport,
  .bxslider,
  .bxslider li {
    height: 100%;
  }

  .bxslider li {
    position: relative;

    .slider__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider__overlay {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 2;
  }

  .slider__label {
    background: white;
    height: 150px;
    width: 280px;
    display: inline-block;
    padding: 0 20px 20px;
  }

  .slider__label-text {
    width: 200px;
    padding-bottom: 10px;
    display: block;
    font-size: 26px;
    color: black;
    margin-bottom: 5px;
  }

  .slider__product-button {
    background: $general-cyan;
    color: #fff;
    padding: 15px 50px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: $general-cyan;
    }
  }

  .progress-bar {
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.5%;
    height: 4px;
    background-color: $general-cyan;
  }

  .bx-pager {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .bx-pager-item a {
      display: inline-block;
      padding: 4px 6px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      background: transparent;
      border: none;
      transition: background 0.3s, color 0.3s;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .bx-pager-item a.active {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      border-radius: 50%;
      background: $general-cyan;
      text-shadow: none;
    }
  }
}

//SECOND SLIDER//
.footer {
  .bx-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    max-width: 700px !important;
  }

  &__slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;

    .footer__slider-item {
      display: flex;
      justify-content: flex-start;
      flex-shrink: 0;
      width: calc(100% / 6);
      padding-right: 10px;

      .footer__slider-img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }


  &__slider-controls {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    width: 90%;
    display: flex;
    align-items: center;
    align-self: center;
    padding-bottom: 50px;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;

    a {
      margin-left: 90px;
      align-self: center;
      justify-self: center;
      pointer-events: all;
      text-decoration: none;
      font-size: 16px;
      color: white;
      background: rgba(140, 140, 140, 0.31);
      padding: 7px 15px;
      border-radius: 50%;
      transition: background 0.3s;

      &:hover {
        background: rgba(117, 115, 115, 0.16);
      }
    }
  }
}


