@import "../base/mixins";
@import "../base/variables";
@import "../base/fonts";

.bx-wrapper {
  position: relative;
  width: 97%;
  height: 500px;
  padding: 0;
  border-bottom: 4px solid #ccc;
  overflow: hidden;
  margin-bottom:1.3%;
  border-bottom: transparent;

}
.bx-wrapper .bx-viewport,
.bx-wrapper .bxslider,
.bx-wrapper .bxslider li {
  height: 100%;
}

.bx-wrapper .bxslider li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bxslider li {
  position: relative;
}

.slide-overlay {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 2;
}

.slide-label {
  background: white;
  height:150px;
  width: 280px;
  display: inline-block;
  padding: 0px 20px 20px;
}

.slide-label .label-text {
  width:200px;
  justify-self: start;
  padding-bottom: 10px;
  display: block;
  font-size: 26px;
  color: black;
  margin-bottom: 5px;
}

.product-button {
  background: $general-cyan;
  color: #fff;
  padding: 15px 50px;
  font-size: 14px;
  text-decoration: none;
  justify-self: center;
  border-radius: 4px;
}

.product-button:hover {
  background: $general-cyan;
}

.bx-wrapper .bx-pager {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.bx-wrapper .bx-pager .bx-pager-item a {
  display: inline-block;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: background 0.3s, color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx-wrapper .bx-pager .bx-pager-item a.active {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background: $general-cyan;
  text-shadow: none;
}

.bx-wrapper .progress-bar {
  width: 94%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: $general-cyan;
}

//SECOND SLIDER//
footer {
  .bx-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    background-color: white;
  }

  .bxslider-second {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .bxslider-second li {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    width: calc(100% / 6);
    padding-right: 10px;
  }

  .bxslider-second li img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .slider-controls a {
    pointer-events: all;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background: rgba(140, 140, 140, 0.31);
    padding: 10px 15px;
    border-radius: 50%;
    transition: background 0.3s;
  }


  .slider-controls a:hover {
    background: rgba(117, 115, 115, 0.16);
  }
}


